openapi: 3.2.0
info:
  title: Form3 Public Direct Debits Reads API
  version: '1'
servers:
- url: https://api.form3.tech/v1
security:
- OAuth2: []
tags:
- name: DirectDebitsReads
paths:
  /transaction/directdebits:
    get:
      operationId: GetDirectdebits
      parameters:
      - description: Which page to select. page[number] * page[size] is restricted to less than 10,000.
        in: query
        name: page[number]
        required: false
        schema:
          type: string
          minimum: 0
          pattern: ^[A-z0-9]{4}$
      - description: Cursor for previous page (this is a base64-encoded UUID continuation token returned from the application and should not be manually generated, unless requesting the last page, where the value should be set to "end").
        in: query
        name: page[before]
        required: false
        schema:
          type: string
      - description: Cursor for next page (this is a base64-encoded UUID continuation token returned from the application and should not be manually generated, unless requesting the first page, where the value should be set to "start").
        in: query
        name: page[after]
        required: false
        schema:
          type: string
      - description: Number of items to select
        in: query
        name: page[size]
        required: false
        schema:
          type: integer
          maximum: 1000
          minimum: 0
      - description: Filter by organisation id
        in: query
        name: filter[organisation_id]
        required: false
        schema:
          type: array
          items:
            format: uuid
            type: string
      - in: query
        name: filter[created_date_from]
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: filter[created_date_to]
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: filter[modified_date_from]
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: filter[modified_date_to]
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: filter[debtor_party.account_number]
        required: false
        schema:
          type: string
      - in: query
        name: filter[debtor_party.bank_id]
        required: false
        schema:
          type: string
      - in: query
        name: filter[beneficiary_party.account_number]
        required: false
        schema:
          type: string
      - in: query
        name: filter[beneficiary_party.bank_id]
        required: false
        schema:
          type: string
      - in: query
        name: filter[currency]
        required: false
        schema:
          type: string
      - in: query
        name: filter[payment_scheme]
        required: false
        schema:
          type: string
      - in: query
        name: filter[payment_type]
        required: false
        schema:
          type: string
      - in: query
        name: filter[processing_date_from]
        required: false
        schema:
          type: string
          format: date
      - in: query
        name: filter[processing_date_to]
        required: false
        schema:
          type: string
          format: date
      - in: query
        name: filter[clearing_id]
        required: false
        schema:
          type: string
      - in: query
        name: filter[admission.admission_date_from]
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: filter[admission.admission_date_to]
        required: false
        schema:
          type: string
          format: date-time
      - description: Filter by admission status
        in: query
        name: filter[admission.status]
        required: false
        schema:
          type: string
      - description: Filter by admission scheme status code
        in: query
        name: filter[admission.scheme_status_code]
        required: false
        schema:
          type: string
      - description: Filter by amount
        in: query
        name: filter[amount]
        required: false
        schema:
          type: string
      - description: Filter by reference
        in: query
        name: filter[reference]
        required: false
        schema:
          type: string
      - description: Filter by unique scheme id
        in: query
        name: filter[unique_scheme_id]
        required: false
        schema:
          type: string
      - in: query
        name: filter[submission.submission_date_from]
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: filter[submission.submission_date_to]
        required: false
        schema:
          type: string
          format: date-time
      - description: Filter by submission status
        in: query
        name: filter[submission.status]
        required: false
        schema:
          type: string
      - description: Filter by submission scheme status code
        in: query
        name: filter[submission.scheme_status_code]
        required: false
        schema:
          type: string
      - in: query
        name: filter[return_submission.submission_date_from]
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: filter[return_submission.submission_date_to]
        required: false
        schema:
          type: string
          format: date-time
      - description: Filter for direct debits containing all of the requested relationships
        in: query
        name: filter[relationships]
        required: false
        schema:
          type: array
          items:
            enum:
            - direct_debit_submissions
            - direct_debit_admissions
            - reversals
            - recalls
            - returns
            - decisions
            type: string
      - description: Filter for direct debits containing none of the requested relationships
        in: query
        name: filter[not_relationships]
        required: false
        schema:
          type: array
          items:
            enum:
            - direct_debit_submissions
            - direct_debit_admissions
            - reversals
            - recalls
            - returns
            - decisions
            type: string
      responses:
        200:
          description: List of direct debit details
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DirectDebitDetailsListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitDetailsListResponse'
      summary: List direct debits
      tags:
      - DirectDebitsReads
      x-access:
      - Public
components:
  schemas:
    DirectDebitDecisionSubmissionStatus:
      enum:
      - accepted
      - released_to_gateway
      - delivery_confirmed
      - delivery_failed
      - submitted
      - validation_pending
      - validation_passed
      - queued_for_delivery
      type: string
      x-access:
      - Public
      x-parent: data.attributes
    UltimateEntity:
      properties:
        additional_address_line:
          description: Additional address line of the debtor/beneficiary address
          type: string
          x-length: 70
        address:
          description: Ultimate debtor/beneficiary address
          example:
          - Liverpool Customer Service Centre
          - Stevenson Way, Wavertree, L13 1NW
          items:
            type: string
          type: array
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-description:
            sepa: Max 2 lines of 70 text.
          x-omitempty: true
        birth_city:
          description: Ultimate debtor/beneficiary birth city
          example: PARIS
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: conditional
          x-description:
            sepa: If a Ultimate Beneficiary/Debtor Identification is used then only one of `organisation_identification`, `private_identification` or date and place of birth can be present.
          x-length: 35
        birth_country:
          description: Ultimate debtor/beneficiary birth country. ISO 3166 format country code
          example: FR
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: conditional
          x-description:
            sepa: If a Ultimate Beneficiary/Debtor Identification is used then only one of `organisation_identification`, `private_identification` or date and place of birth can be present.
          x-length: 2
        birth_date:
          description: Ultimate debtor/beneficiary birth date. Formatted ISO 8601 format YYYY-MM-DD
          example: '1973-01-31'
          format: date
          type:
          - string
          - 'null'
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: conditional
          x-description:
            sepa: If a Ultimate Beneficiary/Debtor Identification is used then only one of `organisation_identification`, `private_identification` or date and place of birth can be present.
        birth_province:
          description: Ultimate debtor/beneficiary birth province
          example: SOUTH SIDE
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-description:
            sepa: If a Ultimate Beneficiary/Debtor Identification is used then only one of `organisation_identification`, `private_identification` or date and place of birth can be present.
          x-length: 35
        building_number:
          description: Building number of the debtor/beneficiary address
          type: string
          x-length: 16
        city:
          description: City/Town of the Beneficiary address
          example: BRUSSELS
          type: string
          x-length: 30
        country:
          description: Country of ultimate debtor/beneficiary address. ISO 3166 format country code
          example: GB
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-length: 2
        country_of_residence:
          description: Country of residence of the ultimate beneficiary, ISO 3166 format country code
          example: UA
          type: string
          x-length: 2
        name:
          example: Jane Bond
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-length: 70
        organisation_identification:
          description: Organisation identification of an ultimate debtor/beneficiary, in the case that the ultimate debtor/beneficiary is an organisation and not a private person.
          example: ID1234656
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-description:
            sepa: The Identification can either be a BIC, BEI or Other Identification
          x-length: 35
        organisation_identification_code:
          description: The code that specifies the type of `organisation_identification`
          example: BIC
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: conditional
          x-description:
            sepa: If `organisation_identification` is specified, must be one of `BIC`, `BEI`, `BANK`, `CBID`, `CHID`, `CINC`, `COID`, `CUST`, `DUNS`, `EMPL`, `GS1G`, `SREN`, `SRET`, `TXID` or `Other`
          x-length: 5
        organisation_identification_issuer:
          description: Issuer of the `organisation_identification`
          example: NATIONAL WESTMINSTER BANK PLC
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-description:
            sepa: May only be present if `organisation_identification_code` is `Other`
          x-length: 35
        organisation_identification_scheme:
          description: The code that specifies the scheme of `organisation_identification`
          example: CustomerId
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-description:
            sepa: May only be present if `organisation_identification_code` is `Other`
          x-length: 35
        organisation_identifications:
          description: Array for additional ID(s) of ultimate organisation
          items:
            $ref: '#/components/schemas/BeneficiaryDebtorOrganisationIdentification'
          type: array
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-description:
            sepa: Array for additional ID(s) for ultimate organisation
          x-omitempty: true
        post_code:
          description: Post code of the debtor/beneficiary address
          type: string
          x-length: 16
        postal_address:
          $ref: '#/components/schemas/PostalAddress'
          description: Postal address of the ultimate debtor/beneficiary
          x-omitempty: true
        private_identification:
          $ref: '#/components/schemas/PrivateIdentification'
        province:
          description: Province of the debtor/beneficiary address
          type: string
          x-length: 35
        street_name:
          description: Street name of the debtor/beneficiary address
          example: Park Avenue
          type: string
          x-length: 70
      type: object
      x-access:
      - Public
    DirectDebitRecall:
      properties:
        attributes:
          properties:
            reason:
              description: Further explanation of the reason given in reason_code. Only evaluated for certain reason codes.
              example: Payment was a duplicate
              type: string
              x-omitempty: true
              x-parent: data.attributes
            reason_code:
              description: The reason for the recall. Has to be a valid [recall reason code](http://api-docs.form3.tech/api.html#enumerations-recall-reason-codes).
              example: DUPL
              type: string
              x-parent: data.attributes
            status:
              $ref: '#/components/schemas/RecallStatus'
          type: object
          x-parent: data
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          description: Unique resource ID
          example: 7826c3cb-d6fd-41d0-b187-dc23ba928772
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          format: uuid
          type: string
        relationships:
          properties:
            direct_debit:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebit'
                  type: array
              type: object
            direct_debit_recall_admission:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitRecallAdmission'
                  type: array
              type: object
            direct_debit_recall_submission:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitRecallSubmission'
                  type: array
              type: object
          type: object
        type:
          description: Name of the resource type
          example: direct_debit_recalls
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          description: Version number
          example: 0
          minimum: 0
          type: integer
      required:
      - id
      type: object
      x-access:
      - Public
    DirectDebitRecallAdmissionStatus:
      description: '[Status](http://draft-api-docs.form3.tech/api.html#enumerations-payment-admission-status) of the recall admission'
      enum:
      - confirmed
      - failed
      example: confirmed
      type: string
      x-access:
      - Public
      x-parent: data.attributes
    DirectDebitDecisionAdmissionStatus:
      enum:
      - confirmed
      - failed
      - pending
      type: string
      x-access:
      - Public
      x-parent: data.attributes
    DirectDebitDecisionSubmission:
      properties:
        attributes:
          properties:
            auto:
              default: false
              description: Indicates if the submission was created automatically by the system (`true`) or manually (`false`).
              type: boolean
              x-parent: data.attributes
            scheme_status_code:
              description: Scheme-specific status (if submission has been submitted to a scheme)
              example: '0000'
              type: string
              x-parent: data.attributes
            status:
              $ref: '#/components/schemas/DirectDebitDecisionSubmissionStatus'
            status_reason:
              description: Reason for submission failure if status is `delivery_failed`
              example: direct debit does not exist
              type: string
              x-parent: data.attributes
            submission_datetime:
              description: Date and time of the submission
              example: '2018-03-12T14:11:48.055Z'
              format: date-time
              readOnly: true
              type:
              - string
              - 'null'
              x-parent: data.attributes
          type: object
          x-parent: data
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          description: Unique resource ID
          example: 2eae8187-7119-470d-abbb-33b11f21d3ad
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          description: Unique ID of the organisation this resource is created by
          example: 763e3cbb-da91-46fd-a0f8-169038a8324e
          format: uuid
          type: string
        relationships:
          properties:
            direct_debit:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebit'
                  type: array
              type: object
            direct_debit_decision:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitDecision'
                  type: array
              type: object
          type: object
        type:
          description: Name of the resource type
          example: direct_debit_decision_submissions
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          description: Version number
          example: 0
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      type: object
      x-access:
      - Public
    DirectDebitRecallSubmissionStatus:
      enum:
      - accepted
      - released_to_gateway
      - delivery_confirmed
      - delivery_failed
      - submitted
      - validation_pending
      - validation_passed
      - queued_for_delivery
      - pending
      type: string
      x-access:
      - Public
      x-parent: data.attributes
    DirectDebitReturnAdmission:
      properties:
        attributes:
          properties:
            admission_datetime:
              format: date-time
              readOnly: true
              type: string
              x-parent: data.attributes
            scheme_status_code:
              type: string
              x-parent: data.attributes
            scheme_status_code_description:
              type: string
              x-parent: data.attributes
            settlement_cycle:
              minimum: 0
              type: integer
              x-parent: data.attributes
            settlement_date:
              format: date
              type:
              - string
              - 'null'
              x-parent: data.attributes
            status:
              $ref: '#/components/schemas/DirectDebitReturnAdmissionStatus'
          type: object
          x-parent: data
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          format: uuid
          type: string
        relationships:
          $ref: '#/components/schemas/DirectDebitReturnAdmissionRelationships'
        type:
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      - attributes
      type: object
      x-access:
      - Public
    DirectDebitReversal:
      properties:
        attributes:
          properties:
            charges_amount:
              description: Only present when a DirectDebitReversal contains charges. SEPA only
              properties:
                amount:
                  description: The charges amount
                  example: '10.00'
                  pattern: ^[0-9]{0,20}(?:\.[0-9]{1,10})?$
                  type: string
                  x-parent: data.attributes.charges_amount
                currency:
                  description: ISO currency code for `amount`
                  example: EUR
                  type: string
                  x-parent: data.attributes.charges_amount
              type: object
              x-omitempty: true
              x-parent: data.attributes
            processing_date:
              description: 'Date on which the operation is to be debited from the debtor account. Formatted according to ISO 8601 format: YYYY-MM-DD.'
              example: '2015-02-12'
              format: date
              type:
              - string
              - 'null'
              x-parent: data.attributes
            reason:
              description: Further explanation of the reason given in reason_code. Only evaluated for certain reason codes.
              example: Direct debit was a duplicate
              type: string
              x-omitempty: true
              x-parent: data.attributes
            reason_code:
              description: The reason for the direct debit reversal. Has to be a valid [reversal reason code](http://api-docs.form3.tech/api.html#enumerations-reversal-reason-codes).
              example: AM05
              type: string
              x-parent: data.attributes
            reversal_amount:
              description: SEPA only
              properties:
                amount:
                  description: Full amount of the Direct Debit Reversal including charges
                  example: '10.00'
                  pattern: ^[0-9]{0,20}(?:\.[0-9]{1,10})?$
                  type: string
                  x-parent: data.attributes.reversal_amount
                currency:
                  description: ISO currency code for `amount`
                  example: EUR
                  type: string
                  x-parent: data.attributes.reversal_amount
              type: object
              x-omitempty: true
              x-parent: data.attributes
            scheme_processing_date:
              description: 'Date on which the operation is processed by the scheme. Formatted according to ISO 8601 format: YYYY-MM-DD. Only used if different from `processing_date`.'
              example: '2015-02-12'
              format: date
              type:
              - string
              - 'null'
              x-parent: data.attributes
          type: object
          x-parent: data
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          format: uuid
          type: string
        relationships:
          properties:
            direct_debit:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebit'
                  type: array
              type: object
            direct_debit_reversal_admission:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitReversalAdmission'
                  type: array
              type: object
            direct_debit_reversal_submission:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitReversalSubmission'
                  type: array
              type: object
          type: object
        type:
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      type: object
      x-access:
      - Public
    BeneficiaryDebtorOrganisationIdentification:
      properties:
        identification:
          description: Another ID of the organisation
          example: H7FNTJ4851HG0EXQ1Z70
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-description:
            sepa: Another ID of the organisation
          x-length: 35
          x-omitempty: true
        identification_code:
          description: Code for the type of other ID of organisation
          example: LEI
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-description:
            sepa: Code for the type of other ID of organisation
          x-length: 5
          x-omitempty: true
        identification_issuer:
          description: Issuer of the other ID of organisation
          example: London Stock Exchange
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-description:
            sepa: Issuer of the other ID of organisation
          x-length: 35
          x-omitempty: true
        identification_scheme:
          description: Custom internal code for the type of other ID of organisation
          example: Custom code
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-description:
            sepa: Custom internal code for the type of other ID of organisation
          x-length: 35
          x-omitempty: true
      type: object
      x-access:
      - Public
    DirectDebitSubmissionStatus:
      enum:
      - accepted
      - released_to_gateway
      - delivery_confirmed
      - delivery_failed
      - submitted
      - pending
      - validation_pending
      - validation_passed
      - queued_for_delivery
      type: string
      x-access:
      - Public
      x-parent: data.attributes
    DirectDebitReversalSubmission:
      properties:
        attributes:
          properties:
            destination_gateway:
              type: string
              x-parent: data.attributes
            scheme_status_code:
              type: string
              x-parent: data.attributes
            scheme_status_code_description:
              type: string
              x-parent: data.attributes
            status:
              $ref: '#/components/schemas/DirectDebitReversalSubmissionStatus'
            status_reason:
              type: string
              x-parent: data.attributes
            submission_datetime:
              format: date-time
              readOnly: true
              type: string
              x-parent: data.attributes
            transaction_start_datetime:
              format: date-time
              readOnly: true
              type: string
              x-parent: data.attributes
          type: object
          x-parent: data
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          format: uuid
          type: string
        relationships:
          properties:
            direct_debit:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebit'
                  type: array
              type: object
            direct_debit_reversal:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitReversal'
                  type: array
              type: object
          type: object
        type:
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      type: object
      x-access:
      - Public
    DirectDebitMandate:
      properties:
        id:
          format: uuid
          type: string
        type:
          pattern: ^[A-Za-z_]*$
          type: string
      type: object
      x-access:
      - Public
    DirectDebitReturn:
      properties:
        attributes:
          properties:
            charges_amount:
              $ref: '#/components/schemas/CurrencyAndAmount'
              x-omitempty: true
              x-parent: data.attributes
            clearing_id:
              description: Unique identifier for organisations collecting payments
              example: '123456'
              type: string
              x-parent: data.attributes
            compensation_amount:
              $ref: '#/components/schemas/CurrencyAndAmount'
              x-omitempty: true
              x-parent: data.attributes
            processing_date:
              description: 'Date on which the operation is to be debited from the debtor account. Formatted according to ISO 8601 format: YYYY-MM-DD.'
              example: '2015-02-12'
              format: date
              type:
              - string
              - 'null'
              x-parent: data.attributes
            return_amount:
              $ref: '#/components/schemas/CurrencyAndAmount'
              x-omitempty: true
              x-parent: data.attributes
            return_code:
              type: string
              x-parent: data.attributes
            return_initiator:
              enum:
              - BANK
              - CUSTOMER
              type: string
              x-parent: data.attributes
            scheme_processing_date:
              description: 'Date on which the operation is processed by the scheme. Formatted according to ISO 8601 format: YYYY-MM-DD. Only used if different from `processing_date`.'
              example: '2015-02-12'
              format: date
              type:
              - string
              - 'null'
              x-parent: data.attributes
            scheme_transaction_id:
              type: string
              x-parent: data.attributes
            settlement:
              $ref: '#/components/schemas/Settlement'
              x-omitempty: true
              x-parent: data.attributes
          type: object
          x-parent: data
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          format: uuid
          type: string
        relationships:
          properties:
            direct_debit:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebit'
                  type: array
              type: object
            direct_debit_return_admission:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitReturnAdmission'
                  type: array
              type: object
            direct_debit_return_reversal:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitReturnReversal'
                  type: array
              type: object
            direct_debit_return_submission:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitReturnSubmission'
                  type: array
              type: object
          type: object
        type:
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      - attributes
      type: object
      x-access:
      - Public
    AccountWithBankId:
      properties:
        bank_id:
          description: Other ID of agent
          example: H7FNTJ4851HG0EXQ1Z70
          maxLength: 30
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-description:
            sepa: Other ID of agent
          x-length: 11
          x-omitempty: true
        bank_id_code:
          description: Code for the type of other ID for agent
          example: LEI
          maxLength: 5
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-description:
            sepa: Code for the type of other ID for agent
          x-length: 5
          x-omitempty: true
      type: object
      x-access:
      - Public
    DirectDebitReturnReversal:
      properties:
        attributes:
          type: object
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          format: uuid
          type: string
        relationships:
          properties:
            direct_debit:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebit'
                  type: array
              type: object
            direct_debit_return:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitReturn'
                  type: array
              type: object
            direct_debit_return_reversal_admission:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitReturnReversalAdmission'
                  type: array
              type: object
          type: object
        type:
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      type: object
      x-access:
      - Public
    Links:
      properties:
        first:
          description: Link to the first resource in the list
          example: https://api.test.form3.tech/v1/api_name/resource_type
          type:
          - string
          - 'null'
        last:
          description: Link to the last resource in the list
          example: https://api.test.form3.tech/v1/api_name/resource_type
          type:
          - string
          - 'null'
        next:
          description: Link to the next resource in the list
          example: https://api.test.form3.tech/v1/api_name/resource_type
          type:
          - string
          - 'null'
        prev:
          description: Link to the previous resource in the list
          example: https://api.test.form3.tech/v1/api_name/resource_type
          type:
          - string
          - 'null'
        self:
          description: Link to this resource type
          example: https://api.test.form3.tech/v1/api_name/resource_type
          type: string
      required:
      - self
      type: object
      x-access:
      - Public
    DirectDebitReturnSubmissionStatus:
      enum:
      - accepted
      - released_to_gateway
      - delivery_confirmed
      - delivery_failed
      - submitted
      - validation_pending
      - validation_passed
      - queued_for_delivery
      type: string
      x-access:
      - Public
      x-parent: data.attributes
    BankIdCode:
      enum:
      - SWBIC
      - GBDSC
      - BE
      - FR
      - DEBLZ
      - GRBIC
      - ITNCC
      - PLKNR
      - PTNCC
      - ESNCC
      - CHBCC
      type: string
      x-access:
      - Public
    DirectDebitSubmissionRelationships:
      properties:
        direct_debit:
          properties:
            data:
              items:
                $ref: '#/components/schemas/DirectDebit'
              type: array
          type: object
      type: object
      x-access:
      - Public
    DirectDebitReturnAdmissionStatus:
      enum:
      - confirmed
      - pending
      - failed
      - limit_check_pending
      - limit_check_passed
      type: string
      x-access:
      - Public
      x-parent: data.attributes
    CurrencyAndAmount:
      properties:
        amount:
          example: '10.00'
          pattern: ^[0-9]{0,20}(?:\.[0-9]{1,10})?$
          type: string
        currency:
          description: ISO currency code for `amount`
          type: string
      type: object
      x-access:
      - Public
    DirectDebitReturnReversalAdmission:
      properties:
        attributes:
          properties:
            scheme_status_code:
              minLength: 1
              type: string
              x-parent: data.attributes
            scheme_status_code_description:
              minLength: 1
              type: string
              x-parent: data.attributes
          required:
          - scheme_status_code
          - scheme_status_code_description
          type: object
          x-parent: data
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          format: uuid
          type: string
        relationships:
          properties:
            direct_debit:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebit'
                  type: array
              type: object
            direct_debit_return:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitReturn'
                  type: array
              type: object
            direct_debit_return_reversal:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitReturnReversal'
                  type: array
              type: object
          type: object
        type:
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      - attributes
      type: object
      x-access:
      - Public
    DirectDebitRelationships:
      properties:
        direct_debit_admission:
          properties:
            data:
              items:
                $ref: '#/components/schemas/DirectDebitAdmission'
              type: array
          type: object
        direct_debit_decision:
          properties:
            data:
              items:
                $ref: '#/components/schemas/DirectDebitDecision'
              type: array
          type: object
        direct_debit_recall:
          properties:
            data:
              items:
                $ref: '#/components/schemas/DirectDebitRecall'
              type: array
          type: object
        direct_debit_return:
          properties:
            data:
              items:
                $ref: '#/components/schemas/DirectDebitReturn'
              type: array
          type: object
        direct_debit_reversal:
          properties:
            data:
              items:
                $ref: '#/components/schemas/DirectDebitReversal'
              type: array
          type: object
        direct_debit_submission:
          description: The submission resource related to the direct debit
          properties:
            data:
              items:
                $ref: '#/components/schemas/DirectDebitSubmission'
              type: array
          type: object
        mandate:
          properties:
            data:
              items:
                $ref: '#/components/schemas/DirectDebitMandate'
              type: array
          type: object
      type: object
      x-access:
      - Public
    DirectDebitDecisionAdmission:
      properties:
        attributes:
          properties:
            admission_datetime:
              format: date-time
              readOnly: true
              type: string
              x-parent: data.attributes
            source_gateway:
              type: string
              x-parent: data.attributes
            status:
              $ref: '#/components/schemas/DirectDebitDecisionAdmissionStatus'
            status_reason:
              $ref: '#/components/schemas/DirectDebitDecisionAdmissionStatusReason'
          type: object
          x-parent: data
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          format: uuid
          type: string
        relationships:
          $ref: '#/components/schemas/DirectDebitDecisionAdmissionRelationships'
        type:
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      - attributes
      type: object
      x-access:
      - Public
    Settlement:
      description: Specifies the details on how the settlement of the transaction between the instructing agent and the instructed agent is completed
      properties:
        account_number:
          example: '12345678'
          type:
          - string
          - 'null'
        account_number_code:
          $ref: '#/components/schemas/AccountNumberCode'
          enum:
          - IBAN
          - BBAN
          type:
          - string
          - 'null'
          x-length: 4
        bank_id:
          type:
          - string
          - 'null'
        bank_id_code:
          $ref: '#/components/schemas/BankIdCode'
          enum:
          - GBDSC
          type:
          - string
          - 'null'
        method:
          description: 'Method used to settle the payment instruction. Acceptable Values for SEPA: CLRG. Acceptable Values for SWIFT: INDA (settled by Instructed Agent), INGA (Settled by Instructing Agent), COVE (Cover Payment)'
          enum:
          - CLRG
          - COVE
          - INGA
          - INDA
          example: CLRG
          type:
          - string
          - 'null'
      type: object
      x-access:
      - Public
    DirectDebitRecallSubmission:
      properties:
        attributes:
          properties:
            destination_gateway:
              type: string
              x-parent: data.attributes
            scheme_status_code:
              description: Scheme-specific status (if submission has been submitted to a scheme)
              example: '0000'
              type: string
              x-parent: data.attributes
            status:
              $ref: '#/components/schemas/DirectDebitRecallSubmissionStatus'
            status_reason:
              description: Reason for submission failure if status is `delivery_failed`
              example: direct debit does not exist
              type: string
              x-parent: data.attributes
            submission_datetime:
              description: Date and time of the submission
              example: '2018-03-12T14:11:48.055Z'
              format: date-time
              readOnly: true
              type:
              - string
              - 'null'
              x-parent: data.attributes
          type: object
          x-parent: data
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          description: Unique resource ID
          example: 7826c3cb-d6fd-41d0-b187-dc23ba928772
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          format: uuid
          type: string
        relationships:
          properties:
            direct_debit:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebit'
                  type: array
              type: object
            direct_debit_recall:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitRecall'
                  type: array
              type: object
          type: object
        type:
          description: Name of the resource type
          example: direct_debit_recall_submissions
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          description: Version number
          example: 0
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      type: object
      x-access:
      - Public
    PrivateIdentification:
      properties:
        identification:
          description: Private Identification of an debtor/beneficiary or ultimate debtor/beneficiary
          example: AB12345
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-length: 35
        identification_issuer:
          description: Issuer of the `identification`
          example: HM Passport Office
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-length: 35
        identification_scheme:
          description: Scheme of the `identification`
          example: BANK
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-length: 35
        identification_scheme_code:
          description: The code that specifies the type of `identification`
          example: CCPT
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: conditional
          x-description:
            sepa: If `identification` is specified, must be either `ARNU`, `CCPT`, `CUST`, `DRLC`, `EMPL`, `NIDN`, `SOSE`, `TXID` or `Other`
      type: object
      x-access:
      - Public
    DirectDebitSubmission:
      properties:
        attributes:
          properties:
            file_identifier:
              pattern: ^[0-9a-zA-Z]+$
              type:
              - string
              - 'null'
              x-parent: data.attributes
            file_number:
              pattern: ^[0-9]+$
              type:
              - string
              - 'null'
              x-parent: data.attributes
            scheme_status_code:
              description: Scheme-specific status (if submission has been submitted to a scheme)
              example: '0000'
              type: string
              x-parent: data.attributes
            scheme_status_code_description:
              description: '[Description](http://api-docs.form3.tech/api.html#enumerations-scheme-status-codes-for-bacs) of `scheme_status_code`'
              example: Field 1 (destination sorting code) was invalid
              type: string
              x-parent: data.attributes
            status:
              $ref: '#/components/schemas/DirectDebitSubmissionStatus'
              description: Status of the submission
              example: released_to_gateway
            status_reason:
              description: Description of the submission status
              example: Accepted without qualification
              type: string
              x-parent: data.attributes
            submission_datetime:
              description: Date of the submission
              example: '2018-03-12T14:11:48.055Z'
              format: date-time
              readOnly: true
              type: string
              x-parent: data.attributes
            transaction_start_datetime:
              description: Time the request was received by Form3. Used to compute the total transaction time of an operation.
              example: '2018-03-12T14:11:49.055Z'
              format: date-time
              readOnly: true
              type: string
              x-parent: data.attributes
          type: object
          x-parent: data
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          description: Unique ID
          example: ee2fb143-6dfe-4787-b183-ca8ddd4164d2
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          description: Unique ID of the organisation this resource is created by
          example: ee2fb143-6dfe-4787-b183-ca8ddd4164d2
          format: uuid
          type: string
        relationships:
          $ref: '#/components/schemas/DirectDebitSubmissionRelationships'
        type:
          description: Name of the resource type
          example: direct_debit_submissions
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          description: Version of the resource
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      type: object
      x-access:
      - Public
    DirectDebitReversalAdmissionStatus:
      enum:
      - confirmed
      - failed
      example: confirmed
      type: string
      x-access:
      - Public
      x-parent: data.attributes
    DirectDebitDecisionAdmissionStatusReason:
      enum:
      - accepted
      - invalid_beneficiary_details
      - bankid_not_provisioned
      - unknown_accountnumber
      - pending_settlement
      type: string
      x-access:
      - Public
      x-parent: data.attributes
    DirectDebitReturnAdmissionRelationships:
      properties:
        direct_debit:
          properties:
            data:
              items:
                $ref: '#/components/schemas/DirectDebit'
              type: array
          type: object
        direct_debit_return:
          properties:
            data:
              items:
                $ref: '#/components/schemas/DirectDebitReturn'
              type: array
          type: object
      type: object
      x-access:
      - Public
    DirectDebitReversalAdmission:
      properties:
        attributes:
          properties:
            scheme_status_code:
              type: string
              x-parent: data.attributes
            scheme_status_code_description:
              type: string
              x-parent: data.attributes
            source_gateway:
              type: string
              x-parent: data.attributes
            status:
              $ref: '#/components/schemas/DirectDebitReversalAdmissionStatus'
          type: object
          x-parent: data
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          format: uuid
          type: string
        relationships:
          properties:
            direct_debit:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebit'
                  type: array
              type: object
            direct_debit_reversal:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitReversal'
                  type: array
              type: object
          type: object
        type:
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      - attributes
      type: object
      x-access:
      - Public
    RecallStatus:
      description: The status of the recall, can either be `pending`, `confirmed`, or `failed`.
      enum:
      - pending
      - confirmed
      - failed
      example: confirmed
      type: string
      x-access:
      - Public
      x-parent: data.attributes
    DirectDebitRecallAdmission:
      properties:
        attributes:
          properties:
            admission_datetime:
              description: Date and time the recall admission was created
              example: '2018-09-26T15:26:57.494Z'
              format: date-time
              readOnly: true
              type:
              - string
              - 'null'
              x-parent: data.attributes
            source_gateway:
              type: string
              x-parent: data.attributes
            status:
              $ref: '#/components/schemas/DirectDebitRecallAdmissionStatus'
            status_reason:
              description: Human-readable reason for failure if admission status is failed
              example: payment does not exist
              type: string
              x-parent: data.attributes
          type: object
          x-parent: data
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          description: Unique resource ID
          example: 7826c3cb-d6fd-41d0-b187-dc23ba928772
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          format: uuid
          type: string
        relationships:
          properties:
            direct_debit:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebit'
                  type: array
              type: object
            direct_debit_recall:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitRecall'
                  type: array
              type: object
          type: object
        type:
          description: Name of the resource type
          example: direct_debit_recall_admissions
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          description: Version number
          example: 0
          minimum: 0
          type: integer
      required:
      - id
      type: object
      x-access:
      - Public
    DirectDebitReversalSubmissionStatus:
      enum:
      - accepted
      - released_to_gateway
      - delivery_confirmed
      - delivery_failed
      - submitted
      - validation_pending
      - validation_passed
      - queued_for_delivery
      - pending
      - limit_check_pending
      - limit_check_passed
      type: string
      x-access:
      - Public
      x-parent: data.attributes
    DirectDebitDecisionAdmissionRelationships:
      properties:
        direct_debit:
          properties:
            data:
              items:
                $ref: '#/components/schemas/DirectDebit'
              type: array
          type: object
        direct_debit_decision:
          properties:
            data:
              items:
                $ref: '#/components/schemas/DirectDebitDecision'
              type: array
          type: object
      type: object
      x-access:
      - Public
    DirectDebit:
      properties:
        attributes:
          properties:
            amount:
              description: Amount of money moved between the instructing agent and instructed agent
              example: '10.00'
              pattern: ^[0-9]{0,20}(?:\.[0-9]{1,10})?$
              type: string
              x-parent: data.attributes
            beneficiary_party:
              properties:
                account_name:
                  description: Name of beneficiary as given with account
                  example: James Bond
                  type: string
                  x-omitempty: false
                  x-parent: data.attributes.beneficiary_party
                account_number:
                  description: Beneficiary account number
                  example: '71268996'
                  type: string
                  x-parent: data.attributes.beneficiary_party
                account_number_code:
                  $ref: '#/components/schemas/AccountNumberCode'
                  x-parent: data.attributes.beneficiary_party
                account_type:
                  description: The type of the account given with `beneficiary_party.account_number`. Single digit number. Only required if requested by the beneficiary party. Defaults to 0.
                  example: 0
                  type: integer
                  x-omitempty: false
                  x-parent: data.attributes.beneficiary_party
                account_with:
                  $ref: '#/components/schemas/AccountHoldingEntity'
                  x-parent: data.attributes.beneficiary_party
                address:
                  description: Beneficiary address
                  example:
                  - 1 Clarence Mew
                  - Horsforth
                  - Leeds Ls18 4EP
                  items:
                    type: string
                  type: array
                  x-omitempty: true
                  x-parent: data.attributes.beneficiary_party
                building_number:
                  description: Building number of the Debtor address
                  type: string
                  x-length: 16
                  x-parent: data.attributes.beneficiary_party
                city:
                  description: City/Town of the Debtor address
                  example: BRUSSELS
                  type: string
                  x-length: 35
                  x-parent: data.attributes.beneficiary_party
                country:
                  description: Country of the beneficiary address, ISO 3166 format country code
                  example: DE
                  type: string
                  x-parent: data.attributes.beneficiary_party
                name:
                  description: Beneficiary name
                  example: James Bond
                  type: string
                  x-availability:
                    get:
                      sepa: always
                    post:
                      sepa: required
                  x-description:
                    swift: 'Field 59A: Beneficiary customer name and address (140)'
                  x-length: 70
                  x-parent: data.attributes.beneficiary_party
                post_code:
                  description: Post code of the Debtor address
                  type: string
                  x-length: 16
                  x-parent: data.attributes.beneficiary_party
                postal_address:
                  $ref: '#/components/schemas/PostalAddress'
                  description: Beneficiary postal address
                  x-omitempty: true
                private_identification:
                  $ref: '#/components/schemas/PrivateIdentification'
                  x-parent: data.attributes.beneficiary_party
                province:
                  description: Province of the Debtor address
                  type: string
                  x-length: 35
                  x-parent: data.attributes.beneficiary_party
                street_name:
                  description: Street name of the Debtor address
                  example: Park Avenue
                  type: string
                  x-length: 70
                  x-parent: data.attributes.beneficiary_party
              type: object
              x-parent: data.attributes
            category_purpose:
              description: Category purpose in proprietary form. Specifies the high level purpose of the instruction. Cannot be used at the same time as `category_purpose_coded`.
              type: string
              x-availability:
                get:
                  sepa: sometimes
                post:
                  sepa: optional
              x-length: 35
              x-parent: data.attributes
            category_purpose_coded:
              description: Category purpose in a coded form. Specifies the high level purpose of the instruction. Cannot be used at the same time as `category_purpose`.
              type: string
              x-availability:
                get:
                  sepa: sometimes
                post:
                  sepa: optional
              x-description:
                sepa: The codes used must be part of the ISO 20022 ExternalCategoryPurpose1Code list
              x-length: 4
              x-parent: data.attributes
            clearing_id:
              description: Unique identifier for organisations collecting payments
              example: '123456'
              type: string
              x-parent: data.attributes
            currency:
              description: Currency of the transaction amount. Currency code as defined in [ISO 4217](http://www.iso.org/iso/home/standards/currency_codes.htm)
              example: EUR
              type: string
              x-length: 3
              x-parent: data.attributes
            debtor_party:
              properties:
                account_name:
                  description: Name of debtor as given with account
                  example: Jane Bond
                  type: string
                  x-omitempty: false
                  x-parent: data.attributes.debtor_party
                account_number:
                  description: Debtor account number. Allows upper case and numeric characters.
                  example: '12345678'
                  type: string
                  x-parent: data.attributes.debtor_party
                account_number_code:
                  $ref: '#/components/schemas/AccountNumberCode'
                  x-parent: data.attributes.debtor_party
                account_with:
                  $ref: '#/components/schemas/AccountHoldingEntity'
                  x-parent: data.attributes.debtor_party
                address:
                  description: Debtor address
                  example:
                  - 63 St Mary Axe
                  - London
                  - EC3A 8AA
                  items:
                    type: string
                  type: array
                  x-omitempty: true
                  x-parent: data.attributes.debtor_party
                building_number:
                  description: Building number of the Debtor address
                  type: string
                  x-length: 16
                  x-parent: data.attributes.debtor_party
                city:
                  description: City/Town of the Debtor address
                  example: BRUSSELS
                  type: string
                  x-length: 35
                  x-parent: data.attributes.debtor_party
                country:
                  description: Country of debtor address. ISO 3166 format country code"
                  example: GB
                  type: string
                  x-parent: data.attributes.debtor_party
                name:
                  description: Debtor name
                  example: Norman Smith
                  type: string
                  x-availability:
                    get:
                      sepa: always
                    post:
                      sepa: required
                  x-description:
                    swift: 'Field 50A: Ordering customer name and address (140)'
                  x-length: 70
                  x-parent: data.attributes.debtor_party
                organisation_identification:
                  description: Organisation identification of a beneficiary, used in the case that the beneficiary is an organisation and not a private person
                  example: ID1234656
                  type: string
                  x-availability:
                    get:
                      sepa: sometimes
                    post:
                      sepa: optional
                  x-description:
                    sepa: The Identification can either be a BIC, BEI or Other Identification
                  x-length: 35
                  x-parent: data.attributes.debtor_party
                organisation_identification_code:
                  description: The code that specifies the type of `organisation_identification`
                  example: BIC
                  type: string
                  x-availability:
                    get:
                      sepa: sometimes
                    post:
                      sepa: conditional
                  x-description:
                    sepa: If `beneficiary_party.organisation_identification` is specified, must be one of `BIC`, `BEI`, `BANK`, `CBID`, `CHID`, `CINC`, `COID`, `CUST`, `DUNS`, `EMPL`, `GS1G`, `SREN`, `SRET`, `TXID` or `Other`
                  x-length: 5
                  x-parent: data.attributes.debtor_party
                organisation_identification_issuer:
                  description: Issuer of the `organisation_identification`
                  example: NATIONAL WESTMINSTER BANK PLC
                  type: string
                  x-availability:
                    get:
                      sepa: sometimes
                    post:
                      sepa: optional
                  x-description:
                    sepa: May only be present if `beneficiary_party.organisation_identification_code` is `Other`
                  x-length: 35
                  x-parent: data.attributes.debtor_party
                organisation_identification_scheme:
                  description: The code that specifies the scheme of `organisation_identification`
                  example: CustomerId
                  type: string
                  x-availability:
                    get:
                      sepa: sometimes
                    post:
                      sepa: optional
                  x-description:
                    sepa: May only be present if `beneficiary_party.organisation_identification_code` is `Other`
                  x-length: 35
                  x-parent: data.attributes.debtor_party
                organisation_identifications:
                  description: Array for additional ID(s) of ultimate organisation
                  items:
                    $ref: '#/components/schemas/BeneficiaryDebtorOrganisationIdentification'
                  type: array
                  x-availability:
                    get:
                      sepa: sometimes
                    post:
                      sepa: optional
                  x-description:
                    sepa: Array for additional ID(s) for ultimate organisation
                  x-omitempty: true
                  x-parent: data.attributes.debtor_party
                post_code:
                  description: Post code of the Debtor address
                  type: string
                  x-length: 16
                  x-parent: data.attributes.debtor_party
                postal_address:
                  $ref: '#/components/schemas/PostalAddress'
                  description: Debtor postal address
                  x-omitempty: true
                private_identification:
                  $ref: '#/components/schemas/PrivateIdentification'
                  x-parent: data.attributes.debtor_party
                province:
                  description: Province of the Debtor address
                  type: string
                  x-length: 35
                  x-parent: data.attributes.debtor_party
                street_name:
                  description: Street name of the Debtor address
                  example: Park Avenue
                  type: string
                  x-length: 70
                  x-parent: data.attributes.debtor_party
              type: object
              x-parent: data.attributes
            end_to_end_reference:
              description: Unique identification, as assigned by the initiating party, to unambiguously identify the transaction. This identification is passed on, unchanged, throughout the entire end-to-end chain.
              example: 'PAYMENT REF: 20094'
              type: string
              x-availability:
                get:
                  sepa: always
                post:
                  sepa: required
              x-description:
                sepa: In the event that no reference was given, `NOTPROVIDED` must be used.
                swift: 'Field70: Remittance Information after /ROC/ code (31)'
              x-length: 35
              x-parent: data.attributes
            instruction_id:
              description: Unique identification, as assigned by the initiating party to unambiguously identify the transaction. This identification is an point-to-point reference and is passed on, unchanged, throughout the entire chain. Cannot include leading, trailing or internal spaces.
              example: ID1245799
              type: string
              x-availability:
                get:
                  sepa: sometimes
                post:
                  sepa: optional
              x-description:
                sepa: Cannot include leading, trailing or internal spaces
              x-length: 35
              x-parent: data.attributes
            mandate_amendment_indicator:
              description: Indicator notifying whether the underlying mandate is amended or not
              type:
              - boolean
              - 'null'
              x-parent: data.attributes
            mandate_id:
              description: Original mandate id.
              type: string
              x-availability:
                post:
                  sepa: required
              x-parent: data.attributes
            mandate_signature_date:
              description: Date on which the direct debit mandate has been signed by the debtor.
              example: '2017-07-23'
              format: date
              type:
              - string
              - 'null'
              x-availability:
                get:
                  sepa: always
                post:
                  sepa: required
              x-parent: data.attributes
            numeric_reference:
              description: Numeric reference field, see scheme specific descriptions for usage
              type: string
              x-parent: data.attributes
            payment_purpose_coded:
              description: Purpose of the direct debit in a coded form
              type: string
              x-availability:
                get:
                  sepa: sometimes
                post:
                  sepa: optional
              x-description:
                sepa: The codes used must be part of the ISO 20022 ExternalPurpose1Code list.
              x-length: 4
              x-parent: data.attributes
            payment_scheme:
              description: Clearing infrastructure through which the operation instruction is to be processed. Default for given organisation ID is used if left empty. Has to be a valid [scheme identifier](http://draft-api-docs.form3.tech/api.html#enumerations-schemes).
              example: BACS
              type: string
              x-parent: data.attributes
            processing_date:
              description: 'Date on which the operation is to be debited from the debtor account. Formatted according to ISO 8601 format: YYYY-MM-DD.'
              example: '2015-02-12'
              format: date
              type:
              - string
              - 'null'
              x-parent: data.attributes
            reference:
              description: Payment reference for beneficiary use
              example: rent for oct
              type: string
              x-length: 18
              x-parent: data.attributes
            remittance_information:
              description: Information supplied to enable the matching of an entry with the items that the transfer is intended to settle, such as commercial invoices in an accounts receivable system provided by the debtor for the beneficiary.
              example: Additional remittance information over and above reference information
              type: string
              x-availability:
                get:
                  sepa: sometimes
                post:
                  sepa: conditional
              x-description:
                sepa: Either the structured remittance information `structured_reference` or unstructured `remittance_information` may be present but not both.
              x-length: 140
              x-parent: data.attributes
            scheme_payment_type:
              description: The [scheme-specific payment type](#enumerations-scheme-payment-types)
              example: DirectDebitFirst
              type: string
              x-parent: data.attributes
            scheme_processing_date:
              description: 'Date on which the operation is processed by the scheme. Formatted according to ISO 8601 format: YYYY-MM-DD. Only used if different from `processing_date`.'
              example: '2015-02-12'
              format: date
              type:
              - string
              - 'null'
              x-parent: data.attributes
            scheme_status:
              description: This reference is used by the receiving party to identify whether the related DDI would have been electronic (AUDDIS) or paper‐based.
              enum:
              - AUDDIS
              - MIGRATING
              example: AUDDIS
              type: string
              x-parent: data.attributes
            scheme_transaction_id:
              description: Unique identification, as assigned by the first instructing agent, to unambiguously identify the transaction that is passed on, unchanged, throughout the entire interbank chain.
              example: '123456789012345678'
              type: string
              x-availability:
                get:
                  sepa: always
                post:
                  sepa: required
              x-description:
                sepa: Cannot include leading, trailing or internal spaces
              x-length: 35
              x-parent: data.attributes
            settlement:
              $ref: '#/components/schemas/Settlement'
              x-omitempty: true
              x-parent: data.attributes
            structured_reference:
              properties:
                issuer:
                  description: Issuer of remittance reference
                  type: string
                  x-availability:
                    get:
                      sepa: sometimes
                    post:
                      sepa: conditional
                  x-description:
                    sepa: Either the structured remittance information `structured_reference` or unstructured `remittance_information` may be present but not both. Mandatory if `SCOR` is used in the remittance data proprietary code.
                  x-length: 35
                  x-parent: data.attributes.structured_reference
                reference:
                  description: Unique reference to unambiguously refer to the payment originated by the creditor, this reference enables reconciliation by the creditor upon receipt of the amount of money.
                  type: string
                  x-availability:
                    get:
                      sepa: sometimes
                    post:
                      sepa: conditional
                  x-description:
                    sepa: Either the structured remittance information `structured_reference` or unstructured `remittance_information` may be present but not both.
                  x-length: 35
                  x-parent: data.attributes.structured_reference
              type: object
              x-parent: data.attributes
            ultimate_beneficiary:
              $ref: '#/components/schemas/UltimateEntity'
            ultimate_debtor:
              $ref: '#/components/schemas/UltimateEntity'
            unique_scheme_id:
              description: The scheme-specific unique transaction ID. Populated by the scheme.
              example: L5W48NDWYW7JV9MRO71020180301826040011
              type: string
              x-parent: data.attributes
          type: object
          x-parent: data
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          description: Unique resource ID
          example: 7826c3cb-d6fd-41d0-b187-dc23ba928772
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          description: Unique ID of the organisation this resource is created by
          example: ee2fb143-6dfe-4787-b183-ca8ddd4164d2
          format: uuid
          type: string
        relationships:
          $ref: '#/components/schemas/DirectDebitRelationships'
        type:
          description: Name of the resource type
          example: direct_debits
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          description: Version of the resource
          example: 0
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      - attributes
      type: object
      x-access:
      - Public
    AccountNumberCode:
      description: The type of identification given at `account_number` attribute
      enum:
      - BBAN
      - IBAN
      example: IBAN
      maxLength: 4
      type: string
      x-access:
      - Public
    PostalAddress:
      properties:
        address:
          description: Beneficiary address
          example:
          - 1 Clarence Mew
          - Horsforth
          - Leeds Ls18 4EP
          items:
            type: string
          type: array
          x-omitempty: true
        building_name:
          description: Building name of the postal address
          type: string
          x-length: 35
        building_number:
          description: Building number of the postal address
          type: string
          x-length: 16
        country:
          description: Country of the postal address, ISO 3166 format country code
          example: SK
          type: string
          x-length: 2
        country_sub_division:
          description: Country sub division of the postal address
          type: string
          x-length: 35
        department:
          description: Department of the postal address
          type: string
          x-length: 70
        district_name:
          description: District name of the postal address
          type: string
          x-length: 35
        floor:
          description: Floor of the postal address
          type: string
          x-length: 70
        post_box:
          description: Postbox of the postal address
          type: string
          x-length: 16
        post_code:
          description: Post code of the postal address
          type: string
          x-length: 16
        room:
          description: Room of the postal address
          type: string
          x-length: 70
        street_name:
          description: Street name of the postal address
          example: Park Avenue
          type: string
          x-length: 70
        sub_department:
          description: Sub department of the postal address
          type: string
          x-length: 70
        town_location_name:
          description: Town location name of the postal address
          type: string
          x-length: 35
        town_name:
          description: Town name of the postal address
          example: BRUSSELS
          type: string
          x-length: 30
      type: object
      x-access:
      - Public
    DirectDebitAdmissionRelationships:
      properties:
        direct_debit:
          properties:
            data:
              items:
                $ref: '#/components/schemas/DirectDebit'
              type: array
          type: object
      type: object
      x-access:
      - Public
    DirectDebitAdmission:
      properties:
        attributes:
          properties:
            admission_datetime:
              format: date-time
              readOnly: true
              type: string
              x-parent: data.attributes
            scheme_status_code:
              type: string
              x-parent: data.attributes
            scheme_status_code_description:
              type: string
              x-parent: data.attributes
            status:
              $ref: '#/components/schemas/DirectDebitAdmissionStatus'
            status_reason:
              $ref: '#/components/schemas/DirectDebitAdmissionStatusReason'
          type: object
          x-parent: data
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          format: uuid
          type: string
        relationships:
          $ref: '#/components/schemas/DirectDebitAdmissionRelationships'
        type:
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      - attributes
      type: object
      x-access:
      - Public
    DirectDebitDecision:
      properties:
        attributes:
          properties:
            answer:
              description: Answer to direct debit request. Only `rejected` can be used.
              enum:
              - rejected
              type: string
              x-parent: data.attributes
            reason:
              description: Free text reason in addition to `reason_code`. Maximum length 105 characters for both inbound and outbound direct debit decisions.
              example: Closed account number
              type: string
              x-omitempty: true
              x-parent: data.attributes
            reason_code:
              description: Reason for a rejected decision. Required when answer is rejected, ignored otherwise. Has to be a valid SEPA direct debit decision reason code.
              example: AC04
              type: string
              x-omitempty: true
              x-parent: data.attributes
          type: object
          x-parent: data
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          description: Unique resource ID
          example: 67a1b31c-0743-429a-b664-ae63925e142f
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          description: Unique ID of the organisation this resource is created by
          example: 763e3cbb-da91-46fd-a0f8-169038a8324e
          format: uuid
          type: string
        relationships:
          properties:
            direct_debit:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebit'
                  type: array
              type: object
            direct_debit_decision_admission:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitDecisionAdmission'
                  type: array
              type: object
            direct_debit_decision_submission:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitDecisionSubmission'
                  type: array
              type: object
          type: object
        type:
          description: Name of the resource type
          example: direct_debit_decisions
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          description: Version number
          example: 0
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      - attributes
      type: object
      x-access:
      - Public
    DirectDebitAdmissionStatus:
      enum:
      - confirmed
      - failed
      - pending
      - limit_check_pending
      - limit_check_passed
      type: string
      x-access:
      - Public
      x-parent: data.attributes
    AccountHoldingEntity:
      description: Information about the financial institution servicing the account.
      properties:
        bank_address:
          description: Financial institution address
          example:
          - Liverpool Customer Service Centre
          - Stevenson Way
          - Wavertree
          - L13 1NW
          items:
            type: string
          type: array
          x-omitempty: true
        bank_id:
          pattern: ^[A-Z0-9]{0,16}$
          type: string
        bank_id_code:
          $ref: '#/components/schemas/BankIdCode'
          enum:
          - GBDSC
          example: GBDSC
          type: string
          x-length: 5
        bank_ids:
          description: Array for additional ID(s) for agent
          items:
            $ref: '#/components/schemas/AccountWithBankId'
          type: array
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-description:
            sepa: Array for additional ID(s) for agent
          x-omitempty: true
        bank_name:
          description: Financial institution name
          example: NATIONAL WESTMINSTER BANK PLC
          type: string
        bank_party_id:
          description: Identifier of the financial institution which services the account
          example: //AT12345
          type: string
      required:
      - bank_id
      - bank_id_code
      type: object
      x-access:
      - Public
    DirectDebitAdmissionStatusReason:
      enum:
      - accepted
      - invalid_beneficiary_details
      - invalid_transaction
      - bankid_not_provisioned
      - unknown_accountnumber
      - pending_settlement
      - settlement_failed
      - duplication
      - not_allowed_amount
      - mandate_cancelled
      - no_instruction
      - account_transferred_to_new_psp
      - paying_bank_cancellation
      - cancelled_by_payer
      - payer_deceased
      - account_closed
      - scheme_status_invalid
      - pending_authorisation_by_sponsor
      - authorised_by_sponsor
      - authorisation_failed_by_sponsor
      - closed_account
      - blocked_account
      - invalid_debtor_account_type
      - transaction_forbidden
      - invalid_bank_operation_code
      - insufficient_funds
      - unrecognised_initiating_party
      - creditor_bank_not_registered_under_bic
      - debtor_bank_not registered_under_bic
      - operation_code_incorrect
      - unauthorised_transaction
      - missing_mandatory_mandate_information
      - end_customer_deceased
      - not_specified_reason_customer
      - not_specified_reason_agent
      - bank_identifier_incorrect
      - missing_debtor_account
      - missing_debtor_name_or_address
      - missing_creditor_name_or_address
      - regulatory_reason
      - specific_service_offered_by_debtor_bank
      - recalled_by_originator
      - unknown_status_reason
      type: string
      x-access:
      - Public
      x-parent: data.attributes
    DirectDebitDetailsListResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/DirectDebit'
          type: array
        links:
          $ref: '#/components/schemas/Links'
      type: object
      x-access:
      - Public
    DirectDebitReturnSubmission:
      properties:
        attributes:
          properties:
            auto:
              default: false
              description: Indicates if the submission was created automatically by the system (true) or manually (false)
              type:
              - boolean
              - 'null'
              x-parent: data.attributes
            file_identifier:
              pattern: ^[0-9a-zA-Z]+$
              type:
              - string
              - 'null'
              x-parent: data.attributes
            file_number:
              pattern: ^[0-9]+$
              type:
              - string
              - 'null'
              x-parent: data.attributes
            scheme_status_code:
              type: string
              x-parent: data.attributes
            scheme_status_code_description:
              type: string
              x-parent: data.attributes
            status:
              $ref: '#/components/schemas/DirectDebitReturnSubmissionStatus'
            status_reason:
              type: string
              x-parent: data.attributes
            submission_datetime:
              format: date-time
              readOnly: true
              type: string
              x-parent: data.attributes
            transaction_start_datetime:
              format: date-time
              readOnly: true
              type: string
              x-parent: data.attributes
          type: object
          x-parent: data
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          format: uuid
          type: string
        relationships:
          properties:
            direct_debit:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebit'
                  type: array
              type: object
            direct_debit_return:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitReturn'
                  type: array
              type: object
          type: object
        type:
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      type: object
      x-access:
      - Public
  securitySchemes:
    Basic:
      type: http
      scheme: basic
    OAuth2:
      type: oauth2
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://api.form3.tech/v1/oauth2/token
      description: OAuth 2.0 with Client Credentials Grant type
