openapi: 3.2.0
info:
  title: Form3 Public Direct Debits API
  version: '1'
servers:
- url: https://api.form3.tech/v1
security:
- OAuth2: []
tags:
- name: DirectDebits
paths:
  /transaction/directdebits:
    post:
      operationId: PostDirectdebits
      responses:
        201:
          description: Direct Debit creation response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DirectDebitCreationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitCreationResponse'
        400:
          description: Direct Debit creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Create Direct debit
      tags:
      - DirectDebits
      x-access:
      - Public
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/DirectDebitCreation'
          application/json:
            schema:
              $ref: '#/components/schemas/DirectDebitCreation'
  /transaction/directdebits/{id}:
    get:
      operationId: GetDirectdebitsID
      parameters:
      - $ref: '#/components/parameters/directDebitIdParam'
      responses:
        200:
          description: Direct Debit details
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DirectDebitDetailsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitDetailsResponse'
        404:
          description: Not found error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Fetch direct debit
      tags:
      - DirectDebits
      x-access:
      - Public
  /transaction/directdebits/{id}/admissions/{admissionId}:
    get:
      operationId: GetDirectdebitsIDAdmissionsAdmissionID
      parameters:
      - $ref: '#/components/parameters/directDebitIdParam'
      - $ref: '#/components/parameters/admissionIdParam'
      responses:
        200:
          description: Direct Debit Admission details
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DirectDebitAdmissionDetailsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitAdmissionDetailsResponse'
        404:
          description: Not found error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Fetch Direct Debit Admission
      tags:
      - DirectDebits
      x-access:
      - Public
  /transaction/directdebits/{id}/decisions:
    post:
      operationId: PostDirectdebitsIDDecisions
      parameters:
      - $ref: '#/components/parameters/directDebitIdParam'
      responses:
        201:
          description: Direct Debit decision creation response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DirectDebitDecisionCreationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitDecisionCreationResponse'
        400:
          description: Direct Debit decision creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        404:
          description: Not found error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        409:
          description: Direct Debit decision creation conflict error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Create direct debit decision
      tags:
      - DirectDebits
      x-access:
      - Public
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/DirectDebitDecisionCreation'
          application/json:
            schema:
              $ref: '#/components/schemas/DirectDebitDecisionCreation'
  /transaction/directdebits/{id}/decisions/{decisionId}:
    get:
      operationId: GetDirectdebitsIDDecisionsDecisionID
      parameters:
      - $ref: '#/components/parameters/directDebitIdParam'
      - $ref: '#/components/parameters/decisionIdParam'
      responses:
        200:
          description: Direct debit decision details
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DirectDebitDecisionDetailsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitDecisionDetailsResponse'
        404:
          description: Not found error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Get direct debit decision
      tags:
      - DirectDebits
      x-access:
      - Public
  /transaction/directdebits/{id}/decisions/{decisionId}/admissions/{admissionId}:
    get:
      operationId: GetDirectdebitsIDDecisionsDecisionIDAdmissionsAdmissionID
      parameters:
      - $ref: '#/components/parameters/directDebitIdParam'
      - $ref: '#/components/parameters/decisionIdParam'
      - $ref: '#/components/parameters/admissionIdParam'
      responses:
        200:
          description: Decision admission details
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DirectDebitDecisionAdmissionDetailsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitDecisionAdmissionDetailsResponse'
        404:
          description: Not found error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Fetch decision admission
      tags:
      - DirectDebits
      x-access:
      - Public
  /transaction/directdebits/{id}/decisions/{decisionId}/submissions:
    post:
      operationId: PostDirectdebitsIDDecisionsDecisionIDSubmissions
      parameters:
      - $ref: '#/components/parameters/directDebitIdParam'
      - $ref: '#/components/parameters/decisionIdParam'
      responses:
        201:
          description: Direct Debit decision submission creation response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DirectDebitDecisionSubmissionCreationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitDecisionSubmissionCreationResponse'
        400:
          description: Direct Debit decision submission creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        409:
          description: Direct Debit decision submission creation conflict error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Create direct debit decision submission
      tags:
      - DirectDebits
      x-access:
      - Public
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/DirectDebitDecisionSubmissionCreation'
          application/json:
            schema:
              $ref: '#/components/schemas/DirectDebitDecisionSubmissionCreation'
  /transaction/directdebits/{id}/decisions/{decisionId}/submissions/{submissionId}:
    get:
      operationId: GetDirectdebitsIDDecisionsDecisionIDSubmissionsSubmissionID
      parameters:
      - $ref: '#/components/parameters/directDebitIdParam'
      - $ref: '#/components/parameters/decisionIdParam'
      - $ref: '#/components/parameters/submissionIdParam'
      responses:
        200:
          description: Direct debit decision details
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DirectDebitDecisionSubmissionDetailsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitDecisionSubmissionDetailsResponse'
        404:
          description: Not found error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Get direct debit decision submission
      tags:
      - DirectDebits
      x-access:
      - Public
  /transaction/directdebits/{id}/recalls:
    post:
      operationId: PostDirectdebitsIDRecalls
      parameters:
      - $ref: '#/components/parameters/directDebitIdParam'
      responses:
        201:
          description: Recall creation response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DirectDebitRecallCreationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitRecallCreationResponse'
        400:
          description: Recall creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        404:
          description: Not found error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Create recall
      tags:
      - DirectDebits
      x-access:
      - Public
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/DirectDebitRecallCreation'
          application/json:
            schema:
              $ref: '#/components/schemas/DirectDebitRecallCreation'
  /transaction/directdebits/{id}/recalls/{recallId}:
    get:
      operationId: GetDirectdebitsIDRecallsRecallID
      parameters:
      - $ref: '#/components/parameters/directDebitIdParam'
      - $ref: '#/components/parameters/recallIdParam'
      responses:
        200:
          description: Recall details
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DirectDebitRecallDetailsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitRecallDetailsResponse'
        404:
          description: Not found error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Fetch recall
      tags:
      - DirectDebits
      x-access:
      - Public
  /transaction/directdebits/{id}/recalls/{recallId}/admissions/{admissionId}:
    get:
      operationId: GetDirectdebitsIDRecallsRecallIDAdmissionsAdmissionID
      parameters:
      - $ref: '#/components/parameters/directDebitIdParam'
      - $ref: '#/components/parameters/recallIdParam'
      - $ref: '#/components/parameters/admissionIdParam'
      responses:
        200:
          description: Recall admission details
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DirectDebitRecallAdmissionDetailsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitRecallAdmissionDetailsResponse'
        404:
          description: Not found error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Fetch recall admission
      tags:
      - DirectDebits
      x-access:
      - Public
  /transaction/directdebits/{id}/recalls/{recallId}/submissions/{submissionId}:
    get:
      operationId: GetDirectdebitsIDRecallsRecallIDSubmissionsSubmissionID
      parameters:
      - $ref: '#/components/parameters/directDebitIdParam'
      - $ref: '#/components/parameters/recallIdParam'
      - $ref: '#/components/parameters/submissionIdParam'
      responses:
        200:
          description: Recall submission details
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DirectDebitRecallSubmissionDetailsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitRecallSubmissionDetailsResponse'
        404:
          description: Not found error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Fetch recall submission
      tags:
      - DirectDebits
      x-access:
      - Public
  /transaction/directdebits/{id}/returns:
    post:
      operationId: PostDirectdebitsIDReturns
      parameters:
      - $ref: '#/components/parameters/directDebitIdParam'
      responses:
        201:
          description: Return creation response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DirectDebitReturnCreationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitReturnCreationResponse'
        400:
          description: Return creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        404:
          description: Not found error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        409:
          description: Return creation conflict error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Create direct debit return
      tags:
      - DirectDebits
      x-access:
      - Public
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/DirectDebitReturnCreation'
          application/json:
            schema:
              $ref: '#/components/schemas/DirectDebitReturnCreation'
  /transaction/directdebits/{id}/returns/{returnId}:
    get:
      operationId: GetDirectdebitsIDReturnsReturnID
      parameters:
      - $ref: '#/components/parameters/directDebitIdParam'
      - $ref: '#/components/parameters/returnIdParam'
      responses:
        200:
          description: Return details
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DirectDebitReturnDetailsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitReturnDetailsResponse'
        404:
          description: Not found error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Fetch direct debit return
      tags:
      - DirectDebits
      x-access:
      - Public
  /transaction/directdebits/{id}/returns/{returnId}/admissions/{admissionId}:
    get:
      operationId: GetDirectdebitsIDReturnsReturnIDAdmissionsAdmissionID
      parameters:
      - $ref: '#/components/parameters/directDebitIdParam'
      - $ref: '#/components/parameters/returnIdParam'
      - $ref: '#/components/parameters/admissionIdParam'
      responses:
        200:
          description: Reversal admission details
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DirectDebitReturnAdmissionDetailsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitReturnAdmissionDetailsResponse'
        404:
          description: Not found error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Fetch return admission
      tags:
      - DirectDebits
      x-access:
      - Public
  /transaction/directdebits/{id}/returns/{returnId}/reversals/{reversalId}:
    get:
      operationId: GetDirectdebitsIDReturnsReturnIDReversalsReversalID
      parameters:
      - $ref: '#/components/parameters/directDebitIdParam'
      - $ref: '#/components/parameters/returnIdParam'
      - $ref: '#/components/parameters/reversalIdParam'
      responses:
        200:
          description: Reversal reversal details
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DirectDebitReturnReversalDetailsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitReturnReversalDetailsResponse'
        404:
          description: Not found error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Fetch return admission
      tags:
      - DirectDebits
      x-access:
      - Public
  /transaction/directdebits/{id}/returns/{returnId}/reversals/{reversalId}/admissions/{admissionId}:
    get:
      operationId: GetDirectdebitsIDReturnsReturnIDReversalsReversalIDAdmissionsAdmissionID
      parameters:
      - $ref: '#/components/parameters/directDebitIdParam'
      - $ref: '#/components/parameters/returnIdParam'
      - $ref: '#/components/parameters/reversalIdParam'
      - $ref: '#/components/parameters/admissionIdParam'
      responses:
        200:
          description: Reversal admission details
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DirectDebitReturnReversalAdmissionDetailsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitReturnReversalAdmissionDetailsResponse'
        404:
          description: Not found error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Fetch return admission
      tags:
      - DirectDebits
      x-access:
      - Public
  /transaction/directdebits/{id}/returns/{returnId}/submissions:
    post:
      operationId: PostDirectdebitsIDReturnsReturnIDSubmissions
      parameters:
      - $ref: '#/components/parameters/directDebitIdParam'
      - $ref: '#/components/parameters/returnIdParam'
      responses:
        201:
          description: Return submission creation response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DirectDebitReturnSubmissionCreationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitReturnSubmissionCreationResponse'
        400:
          description: Return submission creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        404:
          description: Not found error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: create direct debit return submission
      tags:
      - DirectDebits
      x-access:
      - Public
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/DirectDebitReturnSubmissionCreation'
          application/json:
            schema:
              $ref: '#/components/schemas/DirectDebitReturnSubmissionCreation'
  /transaction/directdebits/{id}/returns/{returnId}/submissions/{submissionId}:
    get:
      operationId: GetDirectdebitsIDReturnsReturnIDSubmissionsSubmissionID
      parameters:
      - $ref: '#/components/parameters/directDebitIdParam'
      - $ref: '#/components/parameters/returnIdParam'
      - $ref: '#/components/parameters/submissionIdParam'
      responses:
        200:
          description: Return submission details
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DirectDebitReturnSubmissionDetailsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitReturnSubmissionDetailsResponse'
        404:
          description: Not found error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Fetch return submission
      tags:
      - DirectDebits
      x-access:
      - Public
  /transaction/directdebits/{id}/reversals:
    post:
      operationId: PostDirectdebitsIDReversals
      parameters:
      - $ref: '#/components/parameters/directDebitIdParam'
      responses:
        201:
          description: Reversal creation response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DirectDebitReversalCreationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitReversalCreationResponse'
        400:
          description: Reversal creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        404:
          description: Not found error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        409:
          description: Reversal creation conflict error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Create direct debit reversal
      tags:
      - DirectDebits
      x-access:
      - Public
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/DirectDebitReversalCreation'
          application/json:
            schema:
              $ref: '#/components/schemas/DirectDebitReversalCreation'
  /transaction/directdebits/{id}/reversals/{reversalId}:
    get:
      operationId: GetDirectdebitsIDReversalsReversalID
      parameters:
      - $ref: '#/components/parameters/directDebitIdParam'
      - $ref: '#/components/parameters/reversalIdParam'
      responses:
        200:
          description: Reversal details
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DirectDebitReversalDetailsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitReversalDetailsResponse'
        404:
          description: Not found error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Fetch direct debit reversal
      tags:
      - DirectDebits
      x-access:
      - Public
  /transaction/directdebits/{id}/reversals/{reversalId}/admissions/{admissionId}:
    get:
      operationId: GetDirectdebitsIDReversalsReversalIDAdmissionsAdmissionID
      parameters:
      - $ref: '#/components/parameters/directDebitIdParam'
      - $ref: '#/components/parameters/reversalIdParam'
      - $ref: '#/components/parameters/admissionIdParam'
      responses:
        200:
          description: Reversal admission details
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DirectDebitReversalAdmissionDetailsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitReversalAdmissionDetailsResponse'
        404:
          description: Not found error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Fetch reversal admission
      tags:
      - DirectDebits
      x-access:
      - Public
  /transaction/directdebits/{id}/reversals/{reversalId}/submissions:
    post:
      operationId: PostDirectdebitsIDReversalsReversalIDSubmissions
      parameters:
      - $ref: '#/components/parameters/directDebitIdParam'
      - $ref: '#/components/parameters/reversalIdParam'
      responses:
        201:
          description: Reversal submission creation response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DirectDebitReversalSubmissionCreationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitReversalSubmissionCreationResponse'
        400:
          description: Reversal submission creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        404:
          description: Not found error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: create reversal submission
      tags:
      - DirectDebits
      x-access:
      - Public
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/DirectDebitReversalSubmissionCreation'
          application/json:
            schema:
              $ref: '#/components/schemas/DirectDebitReversalSubmissionCreation'
  /transaction/directdebits/{id}/reversals/{reversalId}/submissions/{submissionId}:
    get:
      operationId: GetDirectdebitsIDReversalsReversalIDSubmissionsSubmissionID
      parameters:
      - $ref: '#/components/parameters/directDebitIdParam'
      - $ref: '#/components/parameters/reversalIdParam'
      - $ref: '#/components/parameters/submissionIdParam'
      responses:
        200:
          description: Reversal submission details
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DirectDebitReversalSubmissionDetailsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitReversalSubmissionDetailsResponse'
        404:
          description: Not found error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Fetch reversal submission
      tags:
      - DirectDebits
      x-access:
      - Public
  /transaction/directdebits/{id}/submissions:
    post:
      operationId: PostDirectdebitsIDSubmissions
      parameters:
      - $ref: '#/components/parameters/directDebitIdParam'
      responses:
        201:
          description: Direct debit submission creation response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DirectDebitSubmissionCreationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitSubmissionCreationResponse'
        400:
          description: Direct debit submission creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        404:
          description: Not found error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Create direct debit submission
      tags:
      - DirectDebits
      x-access:
      - Public
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/DirectDebitSubmissionCreation'
          application/json:
            schema:
              $ref: '#/components/schemas/DirectDebitSubmissionCreation'
  /transaction/directdebits/{id}/submissions/{submissionId}:
    get:
      operationId: GetDirectdebitsIDSubmissionsSubmissionID
      parameters:
      - $ref: '#/components/parameters/directDebitIdParam'
      - $ref: '#/components/parameters/submissionIdParam'
      responses:
        200:
          description: Direct debit submission details
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DirectDebitSubmissionDetailsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DirectDebitSubmissionDetailsResponse'
        404:
          description: Not found error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Get direct debit submission
      tags:
      - DirectDebits
      x-access:
      - Public
components:
  schemas:
    DirectDebitReversalCreationResponse:
      properties:
        data:
          $ref: '#/components/schemas/DirectDebitReversal'
        links:
          $ref: '#/components/schemas/Links'
      type: object
      x-access:
      - Public
    DirectDebitRecallAdmissionStatus:
      description: '[Status](http://draft-api-docs.form3.tech/api.html#enumerations-payment-admission-status) of the recall admission'
      enum:
      - confirmed
      - failed
      example: confirmed
      type: string
      x-access:
      - Public
      x-parent: data.attributes
    DirectDebitDecisionSubmission:
      properties:
        attributes:
          properties:
            auto:
              default: false
              description: Indicates if the submission was created automatically by the system (`true`) or manually (`false`).
              type: boolean
              x-parent: data.attributes
            scheme_status_code:
              description: Scheme-specific status (if submission has been submitted to a scheme)
              example: '0000'
              type: string
              x-parent: data.attributes
            status:
              $ref: '#/components/schemas/DirectDebitDecisionSubmissionStatus'
            status_reason:
              description: Reason for submission failure if status is `delivery_failed`
              example: direct debit does not exist
              type: string
              x-parent: data.attributes
            submission_datetime:
              description: Date and time of the submission
              example: '2018-03-12T14:11:48.055Z'
              format: date-time
              readOnly: true
              type:
              - string
              - 'null'
              x-parent: data.attributes
          type: object
          x-parent: data
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          description: Unique resource ID
          example: 2eae8187-7119-470d-abbb-33b11f21d3ad
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          description: Unique ID of the organisation this resource is created by
          example: 763e3cbb-da91-46fd-a0f8-169038a8324e
          format: uuid
          type: string
        relationships:
          properties:
            direct_debit:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebit'
                  type: array
              type: object
            direct_debit_decision:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitDecision'
                  type: array
              type: object
          type: object
        type:
          description: Name of the resource type
          example: direct_debit_decision_submissions
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          description: Version number
          example: 0
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      type: object
      x-access:
      - Public
    DirectDebitDetailsResponse:
      properties:
        data:
          $ref: '#/components/schemas/DirectDebit'
        links:
          $ref: '#/components/schemas/Links'
      type: object
      x-access:
      - Public
    DirectDebitReturn:
      properties:
        attributes:
          properties:
            charges_amount:
              $ref: '#/components/schemas/CurrencyAndAmount'
              x-omitempty: true
              x-parent: data.attributes
            clearing_id:
              description: Unique identifier for organisations collecting payments
              example: '123456'
              type: string
              x-parent: data.attributes
            compensation_amount:
              $ref: '#/components/schemas/CurrencyAndAmount'
              x-omitempty: true
              x-parent: data.attributes
            processing_date:
              description: 'Date on which the operation is to be debited from the debtor account. Formatted according to ISO 8601 format: YYYY-MM-DD.'
              example: '2015-02-12'
              format: date
              type:
              - string
              - 'null'
              x-parent: data.attributes
            return_amount:
              $ref: '#/components/schemas/CurrencyAndAmount'
              x-omitempty: true
              x-parent: data.attributes
            return_code:
              type: string
              x-parent: data.attributes
            return_initiator:
              enum:
              - BANK
              - CUSTOMER
              type: string
              x-parent: data.attributes
            scheme_processing_date:
              description: 'Date on which the operation is processed by the scheme. Formatted according to ISO 8601 format: YYYY-MM-DD. Only used if different from `processing_date`.'
              example: '2015-02-12'
              format: date
              type:
              - string
              - 'null'
              x-parent: data.attributes
            scheme_transaction_id:
              type: string
              x-parent: data.attributes
            settlement:
              $ref: '#/components/schemas/Settlement'
              x-omitempty: true
              x-parent: data.attributes
          type: object
          x-parent: data
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          format: uuid
          type: string
        relationships:
          properties:
            direct_debit:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebit'
                  type: array
              type: object
            direct_debit_return_admission:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitReturnAdmission'
                  type: array
              type: object
            direct_debit_return_reversal:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitReturnReversal'
                  type: array
              type: object
            direct_debit_return_submission:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitReturnSubmission'
                  type: array
              type: object
          type: object
        type:
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      - attributes
      type: object
      x-access:
      - Public
    DirectDebitReturnReversal:
      properties:
        attributes:
          type: object
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          format: uuid
          type: string
        relationships:
          properties:
            direct_debit:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebit'
                  type: array
              type: object
            direct_debit_return:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitReturn'
                  type: array
              type: object
            direct_debit_return_reversal_admission:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitReturnReversalAdmission'
                  type: array
              type: object
          type: object
        type:
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      type: object
      x-access:
      - Public
    Links:
      properties:
        first:
          description: Link to the first resource in the list
          example: https://api.test.form3.tech/v1/api_name/resource_type
          type:
          - string
          - 'null'
        last:
          description: Link to the last resource in the list
          example: https://api.test.form3.tech/v1/api_name/resource_type
          type:
          - string
          - 'null'
        next:
          description: Link to the next resource in the list
          example: https://api.test.form3.tech/v1/api_name/resource_type
          type:
          - string
          - 'null'
        prev:
          description: Link to the previous resource in the list
          example: https://api.test.form3.tech/v1/api_name/resource_type
          type:
          - string
          - 'null'
        self:
          description: Link to this resource type
          example: https://api.test.form3.tech/v1/api_name/resource_type
          type: string
      required:
      - self
      type: object
      x-access:
      - Public
    DirectDebitRecallCreationResponse:
      properties:
        data:
          $ref: '#/components/schemas/DirectDebitRecall'
        links:
          $ref: '#/components/schemas/Links'
      type: object
      x-access:
      - Public
    DirectDebitDecisionAdmission:
      properties:
        attributes:
          properties:
            admission_datetime:
              format: date-time
              readOnly: true
              type: string
              x-parent: data.attributes
            source_gateway:
              type: string
              x-parent: data.attributes
            status:
              $ref: '#/components/schemas/DirectDebitDecisionAdmissionStatus'
            status_reason:
              $ref: '#/components/schemas/DirectDebitDecisionAdmissionStatusReason'
          type: object
          x-parent: data
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          format: uuid
          type: string
        relationships:
          $ref: '#/components/schemas/DirectDebitDecisionAdmissionRelationships'
        type:
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      - attributes
      type: object
      x-access:
      - Public
    Settlement:
      description: Specifies the details on how the settlement of the transaction between the instructing agent and the instructed agent is completed
      properties:
        account_number:
          example: '12345678'
          type:
          - string
          - 'null'
        account_number_code:
          $ref: '#/components/schemas/AccountNumberCode'
          enum:
          - IBAN
          - BBAN
          type:
          - string
          - 'null'
          x-length: 4
        bank_id:
          type:
          - string
          - 'null'
        bank_id_code:
          $ref: '#/components/schemas/BankIdCode'
          enum:
          - GBDSC
          type:
          - string
          - 'null'
        method:
          description: 'Method used to settle the payment instruction. Acceptable Values for SEPA: CLRG. Acceptable Values for SWIFT: INDA (settled by Instructed Agent), INGA (Settled by Instructing Agent), COVE (Cover Payment)'
          enum:
          - CLRG
          - COVE
          - INGA
          - INDA
          example: CLRG
          type:
          - string
          - 'null'
      type: object
      x-access:
      - Public
    DirectDebitRecallSubmission:
      properties:
        attributes:
          properties:
            destination_gateway:
              type: string
              x-parent: data.attributes
            scheme_status_code:
              description: Scheme-specific status (if submission has been submitted to a scheme)
              example: '0000'
              type: string
              x-parent: data.attributes
            status:
              $ref: '#/components/schemas/DirectDebitRecallSubmissionStatus'
            status_reason:
              description: Reason for submission failure if status is `delivery_failed`
              example: direct debit does not exist
              type: string
              x-parent: data.attributes
            submission_datetime:
              description: Date and time of the submission
              example: '2018-03-12T14:11:48.055Z'
              format: date-time
              readOnly: true
              type:
              - string
              - 'null'
              x-parent: data.attributes
          type: object
          x-parent: data
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          description: Unique resource ID
          example: 7826c3cb-d6fd-41d0-b187-dc23ba928772
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          format: uuid
          type: string
        relationships:
          properties:
            direct_debit:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebit'
                  type: array
              type: object
            direct_debit_recall:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitRecall'
                  type: array
              type: object
          type: object
        type:
          description: Name of the resource type
          example: direct_debit_recall_submissions
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          description: Version number
          example: 0
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      type: object
      x-access:
      - Public
    PrivateIdentification:
      properties:
        identification:
          description: Private Identification of an debtor/beneficiary or ultimate debtor/beneficiary
          example: AB12345
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-length: 35
        identification_issuer:
          description: Issuer of the `identification`
          example: HM Passport Office
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-length: 35
        identification_scheme:
          description: Scheme of the `identification`
          example: BANK
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-length: 35
        identification_scheme_code:
          description: The code that specifies the type of `identification`
          example: CCPT
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: conditional
          x-description:
            sepa: If `identification` is specified, must be either `ARNU`, `CCPT`, `CUST`, `DRLC`, `EMPL`, `NIDN`, `SOSE`, `TXID` or `Other`
      type: object
      x-access:
      - Public
    DirectDebitDecisionDetailsResponse:
      properties:
        data:
          $ref: '#/components/schemas/DirectDebitDecision'
        links:
          $ref: '#/components/schemas/Links'
      type: object
      x-access:
      - Public
    DirectDebitRecallAdmission:
      properties:
        attributes:
          properties:
            admission_datetime:
              description: Date and time the recall admission was created
              example: '2018-09-26T15:26:57.494Z'
              format: date-time
              readOnly: true
              type:
              - string
              - 'null'
              x-parent: data.attributes
            source_gateway:
              type: string
              x-parent: data.attributes
            status:
              $ref: '#/components/schemas/DirectDebitRecallAdmissionStatus'
            status_reason:
              description: Human-readable reason for failure if admission status is failed
              example: payment does not exist
              type: string
              x-parent: data.attributes
          type: object
          x-parent: data
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          description: Unique resource ID
          example: 7826c3cb-d6fd-41d0-b187-dc23ba928772
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          format: uuid
          type: string
        relationships:
          properties:
            direct_debit:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebit'
                  type: array
              type: object
            direct_debit_recall:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitRecall'
                  type: array
              type: object
          type: object
        type:
          description: Name of the resource type
          example: direct_debit_recall_admissions
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          description: Version number
          example: 0
          minimum: 0
          type: integer
      required:
      - id
      type: object
      x-access:
      - Public
    DirectDebitReversalSubmissionStatus:
      enum:
      - accepted
      - released_to_gateway
      - delivery_confirmed
      - delivery_failed
      - submitted
      - validation_pending
      - validation_passed
      - queued_for_delivery
      - pending
      - limit_check_pending
      - limit_check_passed
      type: string
      x-access:
      - Public
      x-parent: data.attributes
    DirectDebitAdmission:
      properties:
        attributes:
          properties:
            admission_datetime:
              format: date-time
              readOnly: true
              type: string
              x-parent: data.attributes
            scheme_status_code:
              type: string
              x-parent: data.attributes
            scheme_status_code_description:
              type: string
              x-parent: data.attributes
            status:
              $ref: '#/components/schemas/DirectDebitAdmissionStatus'
            status_reason:
              $ref: '#/components/schemas/DirectDebitAdmissionStatusReason'
          type: object
          x-parent: data
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          format: uuid
          type: string
        relationships:
          $ref: '#/components/schemas/DirectDebitAdmissionRelationships'
        type:
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      - attributes
      type: object
      x-access:
      - Public
    DirectDebitReturnCreationResponse:
      properties:
        data:
          $ref: '#/components/schemas/DirectDebitReturn'
        links:
          $ref: '#/components/schemas/Links'
      type: object
      x-access:
      - Public
    AccountHoldingEntity:
      description: Information about the financial institution servicing the account.
      properties:
        bank_address:
          description: Financial institution address
          example:
          - Liverpool Customer Service Centre
          - Stevenson Way
          - Wavertree
          - L13 1NW
          items:
            type: string
          type: array
          x-omitempty: true
        bank_id:
          pattern: ^[A-Z0-9]{0,16}$
          type: string
        bank_id_code:
          $ref: '#/components/schemas/BankIdCode'
          enum:
          - GBDSC
          example: GBDSC
          type: string
          x-length: 5
        bank_ids:
          description: Array for additional ID(s) for agent
          items:
            $ref: '#/components/schemas/AccountWithBankId'
          type: array
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-description:
            sepa: Array for additional ID(s) for agent
          x-omitempty: true
        bank_name:
          description: Financial institution name
          example: NATIONAL WESTMINSTER BANK PLC
          type: string
        bank_party_id:
          description: Identifier of the financial institution which services the account
          example: //AT12345
          type: string
      required:
      - bank_id
      - bank_id_code
      type: object
      x-access:
      - Public
    RecallStatus:
      description: The status of the recall, can either be `pending`, `confirmed`, or `failed`.
      enum:
      - pending
      - confirmed
      - failed
      example: confirmed
      type: string
      x-access:
      - Public
      x-parent: data.attributes
    DirectDebitReturnReversalAdmissionDetailsResponse:
      properties:
        data:
          $ref: '#/components/schemas/DirectDebitReturnReversalAdmission'
        links:
          $ref: '#/components/schemas/Links'
      type: object
      x-access:
      - Public
    DirectDebitCreation:
      properties:
        data:
          $ref: '#/components/schemas/DirectDebit'
      type: object
      x-access:
      - Public
    DirectDebitRecall:
      properties:
        attributes:
          properties:
            reason:
              description: Further explanation of the reason given in reason_code. Only evaluated for certain reason codes.
              example: Payment was a duplicate
              type: string
              x-omitempty: true
              x-parent: data.attributes
            reason_code:
              description: The reason for the recall. Has to be a valid [recall reason code](http://api-docs.form3.tech/api.html#enumerations-recall-reason-codes).
              example: DUPL
              type: string
              x-parent: data.attributes
            status:
              $ref: '#/components/schemas/RecallStatus'
          type: object
          x-parent: data
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          description: Unique resource ID
          example: 7826c3cb-d6fd-41d0-b187-dc23ba928772
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          format: uuid
          type: string
        relationships:
          properties:
            direct_debit:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebit'
                  type: array
              type: object
            direct_debit_recall_admission:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitRecallAdmission'
                  type: array
              type: object
            direct_debit_recall_submission:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitRecallSubmission'
                  type: array
              type: object
          type: object
        type:
          description: Name of the resource type
          example: direct_debit_recalls
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          description: Version number
          example: 0
          minimum: 0
          type: integer
      required:
      - id
      type: object
      x-access:
      - Public
    DirectDebitDecisionAdmissionStatus:
      enum:
      - confirmed
      - failed
      - pending
      type: string
      x-access:
      - Public
      x-parent: data.attributes
    DirectDebitReversal:
      properties:
        attributes:
          properties:
            charges_amount:
              description: Only present when a DirectDebitReversal contains charges. SEPA only
              properties:
                amount:
                  description: The charges amount
                  example: '10.00'
                  pattern: ^[0-9]{0,20}(?:\.[0-9]{1,10})?$
                  type: string
                  x-parent: data.attributes.charges_amount
                currency:
                  description: ISO currency code for `amount`
                  example: EUR
                  type: string
                  x-parent: data.attributes.charges_amount
              type: object
              x-omitempty: true
              x-parent: data.attributes
            processing_date:
              description: 'Date on which the operation is to be debited from the debtor account. Formatted according to ISO 8601 format: YYYY-MM-DD.'
              example: '2015-02-12'
              format: date
              type:
              - string
              - 'null'
              x-parent: data.attributes
            reason:
              description: Further explanation of the reason given in reason_code. Only evaluated for certain reason codes.
              example: Direct debit was a duplicate
              type: string
              x-omitempty: true
              x-parent: data.attributes
            reason_code:
              description: The reason for the direct debit reversal. Has to be a valid [reversal reason code](http://api-docs.form3.tech/api.html#enumerations-reversal-reason-codes).
              example: AM05
              type: string
              x-parent: data.attributes
            reversal_amount:
              description: SEPA only
              properties:
                amount:
                  description: Full amount of the Direct Debit Reversal including charges
                  example: '10.00'
                  pattern: ^[0-9]{0,20}(?:\.[0-9]{1,10})?$
                  type: string
                  x-parent: data.attributes.reversal_amount
                currency:
                  description: ISO currency code for `amount`
                  example: EUR
                  type: string
                  x-parent: data.attributes.reversal_amount
              type: object
              x-omitempty: true
              x-parent: data.attributes
            scheme_processing_date:
              description: 'Date on which the operation is processed by the scheme. Formatted according to ISO 8601 format: YYYY-MM-DD. Only used if different from `processing_date`.'
              example: '2015-02-12'
              format: date
              type:
              - string
              - 'null'
              x-parent: data.attributes
          type: object
          x-parent: data
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          format: uuid
          type: string
        relationships:
          properties:
            direct_debit:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebit'
                  type: array
              type: object
            direct_debit_reversal_admission:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitReversalAdmission'
                  type: array
              type: object
            direct_debit_reversal_submission:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitReversalSubmission'
                  type: array
              type: object
          type: object
        type:
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      type: object
      x-access:
      - Public
    DirectDebitDecisionCreation:
      properties:
        data:
          $ref: '#/components/schemas/DirectDebitDecision'
      type: object
      x-access:
      - Public
    DirectDebitReturnSubmissionDetailsResponse:
      properties:
        data:
          $ref: '#/components/schemas/DirectDebitReturnSubmission'
        links:
          $ref: '#/components/schemas/Links'
      type: object
      x-access:
      - Public
    DirectDebitReversalSubmissionDetailsResponse:
      properties:
        data:
          $ref: '#/components/schemas/DirectDebitReversalSubmission'
        links:
          $ref: '#/components/schemas/Links'
      type: object
      x-access:
      - Public
    DirectDebitReturnSubmissionStatus:
      enum:
      - accepted
      - released_to_gateway
      - delivery_confirmed
      - delivery_failed
      - submitted
      - validation_pending
      - validation_passed
      - queued_for_delivery
      type: string
      x-access:
      - Public
      x-parent: data.attributes
    DirectDebitSubmissionRelationships:
      properties:
        direct_debit:
          properties:
            data:
              items:
                $ref: '#/components/schemas/DirectDebit'
              type: array
          type: object
      type: object
      x-access:
      - Public
    DirectDebitRecallCreation:
      properties:
        data:
          $ref: '#/components/schemas/DirectDebitRecall'
      type: object
      x-access:
      - Public
    CurrencyAndAmount:
      properties:
        amount:
          example: '10.00'
          pattern: ^[0-9]{0,20}(?:\.[0-9]{1,10})?$
          type: string
        currency:
          description: ISO currency code for `amount`
          type: string
      type: object
      x-access:
      - Public
    DirectDebitReturnReversalAdmission:
      properties:
        attributes:
          properties:
            scheme_status_code:
              minLength: 1
              type: string
              x-parent: data.attributes
            scheme_status_code_description:
              minLength: 1
              type: string
              x-parent: data.attributes
          required:
          - scheme_status_code
          - scheme_status_code_description
          type: object
          x-parent: data
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          format: uuid
          type: string
        relationships:
          properties:
            direct_debit:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebit'
                  type: array
              type: object
            direct_debit_return:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitReturn'
                  type: array
              type: object
            direct_debit_return_reversal:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitReturnReversal'
                  type: array
              type: object
          type: object
        type:
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      - attributes
      type: object
      x-access:
      - Public
    DirectDebitRecallDetailsResponse:
      properties:
        data:
          $ref: '#/components/schemas/DirectDebitRecall'
        links:
          $ref: '#/components/schemas/Links'
      type: object
      x-access:
      - Public
    DirectDebitSubmissionCreation:
      properties:
        data:
          $ref: '#/components/schemas/DirectDebitSubmission'
      type: object
      x-access:
      - Public
    DirectDebitReversalSubmissionCreationResponse:
      properties:
        data:
          $ref: '#/components/schemas/DirectDebitReversalSubmission'
        links:
          $ref: '#/components/schemas/Links'
      type: object
      x-access:
      - Public
    DirectDebitReversalAdmissionDetailsResponse:
      properties:
        data:
          $ref: '#/components/schemas/DirectDebitReversalAdmission'
        links:
          $ref: '#/components/schemas/Links'
      type: object
      x-access:
      - Public
    DirectDebitReversalDetailsResponse:
      properties:
        data:
          $ref: '#/components/schemas/DirectDebitReversal'
        links:
          $ref: '#/components/schemas/Links'
      type: object
      x-access:
      - Public
    DirectDebitDecisionAdmissionRelationships:
      properties:
        direct_debit:
          properties:
            data:
              items:
                $ref: '#/components/schemas/DirectDebit'
              type: array
          type: object
        direct_debit_decision:
          properties:
            data:
              items:
                $ref: '#/components/schemas/DirectDebitDecision'
              type: array
          type: object
      type: object
      x-access:
      - Public
    AccountNumberCode:
      description: The type of identification given at `account_number` attribute
      enum:
      - BBAN
      - IBAN
      example: IBAN
      maxLength: 4
      type: string
      x-access:
      - Public
    PostalAddress:
      properties:
        address:
          description: Beneficiary address
          example:
          - 1 Clarence Mew
          - Horsforth
          - Leeds Ls18 4EP
          items:
            type: string
          type: array
          x-omitempty: true
        building_name:
          description: Building name of the postal address
          type: string
          x-length: 35
        building_number:
          description: Building number of the postal address
          type: string
          x-length: 16
        country:
          description: Country of the postal address, ISO 3166 format country code
          example: SK
          type: string
          x-length: 2
        country_sub_division:
          description: Country sub division of the postal address
          type: string
          x-length: 35
        department:
          description: Department of the postal address
          type: string
          x-length: 70
        district_name:
          description: District name of the postal address
          type: string
          x-length: 35
        floor:
          description: Floor of the postal address
          type: string
          x-length: 70
        post_box:
          description: Postbox of the postal address
          type: string
          x-length: 16
        post_code:
          description: Post code of the postal address
          type: string
          x-length: 16
        room:
          description: Room of the postal address
          type: string
          x-length: 70
        street_name:
          description: Street name of the postal address
          example: Park Avenue
          type: string
          x-length: 70
        sub_department:
          description: Sub department of the postal address
          type: string
          x-length: 70
        town_location_name:
          description: Town location name of the postal address
          type: string
          x-length: 35
        town_name:
          description: Town name of the postal address
          example: BRUSSELS
          type: string
          x-length: 30
      type: object
      x-access:
      - Public
    DirectDebitAdmissionRelationships:
      properties:
        direct_debit:
          properties:
            data:
              items:
                $ref: '#/components/schemas/DirectDebit'
              type: array
          type: object
      type: object
      x-access:
      - Public
    DirectDebitSubmissionDetailsResponse:
      properties:
        data:
          $ref: '#/components/schemas/DirectDebitSubmission'
        links:
          $ref: '#/components/schemas/Links'
      type: object
      x-access:
      - Public
    DirectDebitDecisionSubmissionCreationResponse:
      properties:
        data:
          $ref: '#/components/schemas/DirectDebitDecisionSubmission'
        links:
          $ref: '#/components/schemas/Links'
      type: object
      x-access:
      - Public
    DirectDebitReturnAdmissionDetailsResponse:
      properties:
        data:
          $ref: '#/components/schemas/DirectDebitReturnAdmission'
        links:
          $ref: '#/components/schemas/Links'
      type: object
      x-access:
      - Public
    DirectDebitReturnAdmission:
      properties:
        attributes:
          properties:
            admission_datetime:
              format: date-time
              readOnly: true
              type: string
              x-parent: data.attributes
            scheme_status_code:
              type: string
              x-parent: data.attributes
            scheme_status_code_description:
              type: string
              x-parent: data.attributes
            settlement_cycle:
              minimum: 0
              type: integer
              x-parent: data.attributes
            settlement_date:
              format: date
              type:
              - string
              - 'null'
              x-parent: data.attributes
            status:
              $ref: '#/components/schemas/DirectDebitReturnAdmissionStatus'
          type: object
          x-parent: data
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          format: uuid
          type: string
        relationships:
          $ref: '#/components/schemas/DirectDebitReturnAdmissionRelationships'
        type:
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      - attributes
      type: object
      x-access:
      - Public
    DirectDebitMandate:
      properties:
        id:
          format: uuid
          type: string
        type:
          pattern: ^[A-Za-z_]*$
          type: string
      type: object
      x-access:
      - Public
    DirectDebitSubmissionCreationResponse:
      properties:
        data:
          $ref: '#/components/schemas/DirectDebitSubmission'
        links:
          $ref: '#/components/schemas/Links'
      type: object
      x-access:
      - Public
    AccountWithBankId:
      properties:
        bank_id:
          description: Other ID of agent
          example: H7FNTJ4851HG0EXQ1Z70
          maxLength: 30
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-description:
            sepa: Other ID of agent
          x-length: 11
          x-omitempty: true
        bank_id_code:
          description: Code for the type of other ID for agent
          example: LEI
          maxLength: 5
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-description:
            sepa: Code for the type of other ID for agent
          x-length: 5
          x-omitempty: true
      type: object
      x-access:
      - Public
    DirectDebitReturnSubmissionCreation:
      properties:
        data:
          $ref: '#/components/schemas/DirectDebitReturnSubmission'
      type: object
      x-access:
      - Public
    DirectDebitReturnAdmissionStatus:
      enum:
      - confirmed
      - pending
      - failed
      - limit_check_pending
      - limit_check_passed
      type: string
      x-access:
      - Public
      x-parent: data.attributes
    DirectDebitReversalSubmissionCreation:
      properties:
        data:
          $ref: '#/components/schemas/DirectDebitReversalSubmission'
      type: object
      x-access:
      - Public
    DirectDebitReturnCreation:
      properties:
        data:
          $ref: '#/components/schemas/DirectDebitReturn'
      type: object
      x-access:
      - Public
    DirectDebitReturnDetailsResponse:
      properties:
        data:
          $ref: '#/components/schemas/DirectDebitReturn'
        links:
          $ref: '#/components/schemas/Links'
      type: object
      x-access:
      - Public
    DirectDebitReversalAdmissionStatus:
      enum:
      - confirmed
      - failed
      example: confirmed
      type: string
      x-access:
      - Public
      x-parent: data.attributes
    DirectDebitReturnAdmissionRelationships:
      properties:
        direct_debit:
          properties:
            data:
              items:
                $ref: '#/components/schemas/DirectDebit'
              type: array
          type: object
        direct_debit_return:
          properties:
            data:
              items:
                $ref: '#/components/schemas/DirectDebitReturn'
              type: array
          type: object
      type: object
      x-access:
      - Public
    DirectDebitReversalAdmission:
      properties:
        attributes:
          properties:
            scheme_status_code:
              type: string
              x-parent: data.attributes
            scheme_status_code_description:
              type: string
              x-parent: data.attributes
            source_gateway:
              type: string
              x-parent: data.attributes
            status:
              $ref: '#/components/schemas/DirectDebitReversalAdmissionStatus'
          type: object
          x-parent: data
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          format: uuid
          type: string
        relationships:
          properties:
            direct_debit:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebit'
                  type: array
              type: object
            direct_debit_reversal:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitReversal'
                  type: array
              type: object
          type: object
        type:
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      - attributes
      type: object
      x-access:
      - Public
    DirectDebitReturnReversalDetailsResponse:
      properties:
        data:
          $ref: '#/components/schemas/DirectDebitReturnReversal'
        links:
          $ref: '#/components/schemas/Links'
      type: object
      x-access:
      - Public
    DirectDebitDecision:
      properties:
        attributes:
          properties:
            answer:
              description: Answer to direct debit request. Only `rejected` can be used.
              enum:
              - rejected
              type: string
              x-parent: data.attributes
            reason:
              description: Free text reason in addition to `reason_code`. Maximum length 105 characters for both inbound and outbound direct debit decisions.
              example: Closed account number
              type: string
              x-omitempty: true
              x-parent: data.attributes
            reason_code:
              description: Reason for a rejected decision. Required when answer is rejected, ignored otherwise. Has to be a valid SEPA direct debit decision reason code.
              example: AC04
              type: string
              x-omitempty: true
              x-parent: data.attributes
          type: object
          x-parent: data
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          description: Unique resource ID
          example: 67a1b31c-0743-429a-b664-ae63925e142f
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          description: Unique ID of the organisation this resource is created by
          example: 763e3cbb-da91-46fd-a0f8-169038a8324e
          format: uuid
          type: string
        relationships:
          properties:
            direct_debit:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebit'
                  type: array
              type: object
            direct_debit_decision_admission:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitDecisionAdmission'
                  type: array
              type: object
            direct_debit_decision_submission:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitDecisionSubmission'
                  type: array
              type: object
          type: object
        type:
          description: Name of the resource type
          example: direct_debit_decisions
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          description: Version number
          example: 0
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      - attributes
      type: object
      x-access:
      - Public
    DirectDebitAdmissionStatusReason:
      enum:
      - accepted
      - invalid_beneficiary_details
      - invalid_transaction
      - bankid_not_provisioned
      - unknown_accountnumber
      - pending_settlement
      - settlement_failed
      - duplication
      - not_allowed_amount
      - mandate_cancelled
      - no_instruction
      - account_transferred_to_new_psp
      - paying_bank_cancellation
      - cancelled_by_payer
      - payer_deceased
      - account_closed
      - scheme_status_invalid
      - pending_authorisation_by_sponsor
      - authorised_by_sponsor
      - authorisation_failed_by_sponsor
      - closed_account
      - blocked_account
      - invalid_debtor_account_type
      - transaction_forbidden
      - invalid_bank_operation_code
      - insufficient_funds
      - unrecognised_initiating_party
      - creditor_bank_not_registered_under_bic
      - debtor_bank_not registered_under_bic
      - operation_code_incorrect
      - unauthorised_transaction
      - missing_mandatory_mandate_information
      - end_customer_deceased
      - not_specified_reason_customer
      - not_specified_reason_agent
      - bank_identifier_incorrect
      - missing_debtor_account
      - missing_debtor_name_or_address
      - missing_creditor_name_or_address
      - regulatory_reason
      - specific_service_offered_by_debtor_bank
      - recalled_by_originator
      - unknown_status_reason
      type: string
      x-access:
      - Public
      x-parent: data.attributes
    ApiError:
      properties:
        error_code:
          format: uuid
          type: string
        error_message:
          type: string
      type: object
      x-access:
      - Public
    DirectDebitRecallSubmissionDetailsResponse:
      properties:
        data:
          $ref: '#/components/schemas/DirectDebitRecallSubmission'
        links:
          $ref: '#/components/schemas/Links'
      type: object
      x-access:
      - Public
    DirectDebitSubmissionStatus:
      enum:
      - accepted
      - released_to_gateway
      - delivery_confirmed
      - delivery_failed
      - submitted
      - pending
      - validation_pending
      - validation_passed
      - queued_for_delivery
      type: string
      x-access:
      - Public
      x-parent: data.attributes
    DirectDebitReturnSubmission:
      properties:
        attributes:
          properties:
            auto:
              default: false
              description: Indicates if the submission was created automatically by the system (true) or manually (false)
              type:
              - boolean
              - 'null'
              x-parent: data.attributes
            file_identifier:
              pattern: ^[0-9a-zA-Z]+$
              type:
              - string
              - 'null'
              x-parent: data.attributes
            file_number:
              pattern: ^[0-9]+$
              type:
              - string
              - 'null'
              x-parent: data.attributes
            scheme_status_code:
              type: string
              x-parent: data.attributes
            scheme_status_code_description:
              type: string
              x-parent: data.attributes
            status:
              $ref: '#/components/schemas/DirectDebitReturnSubmissionStatus'
            status_reason:
              type: string
              x-parent: data.attributes
            submission_datetime:
              format: date-time
              readOnly: true
              type: string
              x-parent: data.attributes
            transaction_start_datetime:
              format: date-time
              readOnly: true
              type: string
              x-parent: data.attributes
          type: object
          x-parent: data
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          format: uuid
          type: string
        relationships:
          properties:
            direct_debit:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebit'
                  type: array
              type: object
            direct_debit_return:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitReturn'
                  type: array
              type: object
          type: object
        type:
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      type: object
      x-access:
      - Public
    DirectDebitDecisionSubmissionCreation:
      properties:
        data:
          $ref: '#/components/schemas/DirectDebitDecisionSubmission'
      type: object
      x-access:
      - Public
    DirectDebitDecisionSubmissionStatus:
      enum:
      - accepted
      - released_to_gateway
      - delivery_confirmed
      - delivery_failed
      - submitted
      - validation_pending
      - validation_passed
      - queued_for_delivery
      type: string
      x-access:
      - Public
      x-parent: data.attributes
    UltimateEntity:
      properties:
        additional_address_line:
          description: Additional address line of the debtor/beneficiary address
          type: string
          x-length: 70
        address:
          description: Ultimate debtor/beneficiary address
          example:
          - Liverpool Customer Service Centre
          - Stevenson Way, Wavertree, L13 1NW
          items:
            type: string
          type: array
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-description:
            sepa: Max 2 lines of 70 text.
          x-omitempty: true
        birth_city:
          description: Ultimate debtor/beneficiary birth city
          example: PARIS
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: conditional
          x-description:
            sepa: If a Ultimate Beneficiary/Debtor Identification is used then only one of `organisation_identification`, `private_identification` or date and place of birth can be present.
          x-length: 35
        birth_country:
          description: Ultimate debtor/beneficiary birth country. ISO 3166 format country code
          example: FR
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: conditional
          x-description:
            sepa: If a Ultimate Beneficiary/Debtor Identification is used then only one of `organisation_identification`, `private_identification` or date and place of birth can be present.
          x-length: 2
        birth_date:
          description: Ultimate debtor/beneficiary birth date. Formatted ISO 8601 format YYYY-MM-DD
          example: '1973-01-31'
          format: date
          type:
          - string
          - 'null'
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: conditional
          x-description:
            sepa: If a Ultimate Beneficiary/Debtor Identification is used then only one of `organisation_identification`, `private_identification` or date and place of birth can be present.
        birth_province:
          description: Ultimate debtor/beneficiary birth province
          example: SOUTH SIDE
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-description:
            sepa: If a Ultimate Beneficiary/Debtor Identification is used then only one of `organisation_identification`, `private_identification` or date and place of birth can be present.
          x-length: 35
        building_number:
          description: Building number of the debtor/beneficiary address
          type: string
          x-length: 16
        city:
          description: City/Town of the Beneficiary address
          example: BRUSSELS
          type: string
          x-length: 30
        country:
          description: Country of ultimate debtor/beneficiary address. ISO 3166 format country code
          example: GB
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-length: 2
        country_of_residence:
          description: Country of residence of the ultimate beneficiary, ISO 3166 format country code
          example: UA
          type: string
          x-length: 2
        name:
          example: Jane Bond
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-length: 70
        organisation_identification:
          description: Organisation identification of an ultimate debtor/beneficiary, in the case that the ultimate debtor/beneficiary is an organisation and not a private person.
          example: ID1234656
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-description:
            sepa: The Identification can either be a BIC, BEI or Other Identification
          x-length: 35
        organisation_identification_code:
          description: The code that specifies the type of `organisation_identification`
          example: BIC
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: conditional
          x-description:
            sepa: If `organisation_identification` is specified, must be one of `BIC`, `BEI`, `BANK`, `CBID`, `CHID`, `CINC`, `COID`, `CUST`, `DUNS`, `EMPL`, `GS1G`, `SREN`, `SRET`, `TXID` or `Other`
          x-length: 5
        organisation_identification_issuer:
          description: Issuer of the `organisation_identification`
          example: NATIONAL WESTMINSTER BANK PLC
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-description:
            sepa: May only be present if `organisation_identification_code` is `Other`
          x-length: 35
        organisation_identification_scheme:
          description: The code that specifies the scheme of `organisation_identification`
          example: CustomerId
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-description:
            sepa: May only be present if `organisation_identification_code` is `Other`
          x-length: 35
        organisation_identifications:
          description: Array for additional ID(s) of ultimate organisation
          items:
            $ref: '#/components/schemas/BeneficiaryDebtorOrganisationIdentification'
          type: array
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-description:
            sepa: Array for additional ID(s) for ultimate organisation
          x-omitempty: true
        post_code:
          description: Post code of the debtor/beneficiary address
          type: string
          x-length: 16
        postal_address:
          $ref: '#/components/schemas/PostalAddress'
          description: Postal address of the ultimate debtor/beneficiary
          x-omitempty: true
        private_identification:
          $ref: '#/components/schemas/PrivateIdentification'
        province:
          description: Province of the debtor/beneficiary address
          type: string
          x-length: 35
        street_name:
          description: Street name of the debtor/beneficiary address
          example: Park Avenue
          type: string
          x-length: 70
      type: object
      x-access:
      - Public
    DirectDebitDecisionCreationResponse:
      properties:
        data:
          $ref: '#/components/schemas/DirectDebitDecision'
        links:
          $ref: '#/components/schemas/Links'
      type: object
      x-access:
      - Public
    DirectDebitRecallSubmissionStatus:
      enum:
      - accepted
      - released_to_gateway
      - delivery_confirmed
      - delivery_failed
      - submitted
      - validation_pending
      - validation_passed
      - queued_for_delivery
      - pending
      type: string
      x-access:
      - Public
      x-parent: data.attributes
    DirectDebitReversalCreation:
      properties:
        data:
          $ref: '#/components/schemas/DirectDebitReversal'
      type: object
      x-access:
      - Public
    DirectDebitReversalSubmission:
      properties:
        attributes:
          properties:
            destination_gateway:
              type: string
              x-parent: data.attributes
            scheme_status_code:
              type: string
              x-parent: data.attributes
            scheme_status_code_description:
              type: string
              x-parent: data.attributes
            status:
              $ref: '#/components/schemas/DirectDebitReversalSubmissionStatus'
            status_reason:
              type: string
              x-parent: data.attributes
            submission_datetime:
              format: date-time
              readOnly: true
              type: string
              x-parent: data.attributes
            transaction_start_datetime:
              format: date-time
              readOnly: true
              type: string
              x-parent: data.attributes
          type: object
          x-parent: data
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          format: uuid
          type: string
        relationships:
          properties:
            direct_debit:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebit'
                  type: array
              type: object
            direct_debit_reversal:
              properties:
                data:
                  items:
                    $ref: '#/components/schemas/DirectDebitReversal'
                  type: array
              type: object
          type: object
        type:
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      type: object
      x-access:
      - Public
    DirectDebitDecisionAdmissionDetailsResponse:
      properties:
        data:
          $ref: '#/components/schemas/DirectDebitDecisionAdmission'
        links:
          $ref: '#/components/schemas/Links'
      type: object
      x-access:
      - Public
    BankIdCode:
      enum:
      - SWBIC
      - GBDSC
      - BE
      - FR
      - DEBLZ
      - GRBIC
      - ITNCC
      - PLKNR
      - PTNCC
      - ESNCC
      - CHBCC
      type: string
      x-access:
      - Public
    DirectDebitRecallAdmissionDetailsResponse:
      properties:
        data:
          $ref: '#/components/schemas/DirectDebitRecallAdmission'
        links:
          $ref: '#/components/schemas/Links'
      type: object
      x-access:
      - Public
    DirectDebitReturnSubmissionCreationResponse:
      properties:
        data:
          $ref: '#/components/schemas/DirectDebitReturnSubmission'
        links:
          $ref: '#/components/schemas/Links'
      type: object
      x-access:
      - Public
    DirectDebitCreationResponse:
      properties:
        data:
          $ref: '#/components/schemas/DirectDebit'
        links:
          $ref: '#/components/schemas/Links'
      type: object
      x-access:
      - Public
    DirectDebitRelationships:
      properties:
        direct_debit_admission:
          properties:
            data:
              items:
                $ref: '#/components/schemas/DirectDebitAdmission'
              type: array
          type: object
        direct_debit_decision:
          properties:
            data:
              items:
                $ref: '#/components/schemas/DirectDebitDecision'
              type: array
          type: object
        direct_debit_recall:
          properties:
            data:
              items:
                $ref: '#/components/schemas/DirectDebitRecall'
              type: array
          type: object
        direct_debit_return:
          properties:
            data:
              items:
                $ref: '#/components/schemas/DirectDebitReturn'
              type: array
          type: object
        direct_debit_reversal:
          properties:
            data:
              items:
                $ref: '#/components/schemas/DirectDebitReversal'
              type: array
          type: object
        direct_debit_submission:
          description: The submission resource related to the direct debit
          properties:
            data:
              items:
                $ref: '#/components/schemas/DirectDebitSubmission'
              type: array
          type: object
        mandate:
          properties:
            data:
              items:
                $ref: '#/components/schemas/DirectDebitMandate'
              type: array
          type: object
      type: object
      x-access:
      - Public
    DirectDebitSubmission:
      properties:
        attributes:
          properties:
            file_identifier:
              pattern: ^[0-9a-zA-Z]+$
              type:
              - string
              - 'null'
              x-parent: data.attributes
            file_number:
              pattern: ^[0-9]+$
              type:
              - string
              - 'null'
              x-parent: data.attributes
            scheme_status_code:
              description: Scheme-specific status (if submission has been submitted to a scheme)
              example: '0000'
              type: string
[...]
