openapi: 3.2.0
info:
  title: Form3 Public Payment Writes API
  version: '1'
servers:
- url: https://api.form3.tech/v1
security:
- OAuth2: []
tags:
- name: PaymentWrites
paths:
  /transaction/payments:
    post:
      operationId: CreatePayment
      responses:
        201:
          description: Payment creation response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PaymentCreationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentCreationResponse'
        400:
          description: Payment creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Create payment
      tags:
      - PaymentWrites
      x-access:
      - Public
      - FPS
      - Bacs
      - SEPA
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/PaymentCreation'
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCreation'
  /transaction/payments/{id}/admissions/{admissionId}/tasks/{taskId}:
    parameters:
    - description: Payment Id
      in: path
      name: id
      required: true
      schema:
        type: string
        format: uuid
    - description: Admission Id
      in: path
      name: admissionId
      required: true
      schema:
        type: string
        format: uuid
    - description: Payment Admission Task Id
      in: path
      name: taskId
      required: true
      schema:
        type: string
        format: uuid
    patch:
      operationId: PatchPaymentAdmissionTask
      responses:
        200:
          description: Payment Admission Task update response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PaymentAdmissionTaskDetailsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentAdmissionTaskDetailsResponse'
        400:
          description: Error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        409:
          description: Conflict
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiErrorWithActualResource'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorWithActualResource'
      summary: Patch Payment Admission Task
      tags:
      - PaymentWrites
      x-access:
      - Public
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentAdmissionTaskAmendment'
  /transaction/payments/{id}/advices:
    post:
      operationId: CreatePaymentAdvice
      parameters:
      - description: Payment Id
        in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        201:
          description: Advice creation response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AdviceCreationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AdviceCreationResponse'
        400:
          description: Advice creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Create advice
      tags:
      - PaymentWrites
      x-access:
      - Public
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/AdviceCreation'
          application/json:
            schema:
              $ref: '#/components/schemas/AdviceCreation'
  /transaction/payments/{id}/advices/{adviceId}/submissions:
    post:
      operationId: CreatePaymentAdviceSubmission
      parameters:
      - description: Payment Id
        in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      - description: Advice Id
        in: path
        name: adviceId
        required: true
        schema:
          type: string
          format: uuid
      responses:
        201:
          description: Advice submission creation response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AdviceSubmissionCreationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AdviceSubmissionCreationResponse'
        400:
          description: Advice submission creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: create advice submission
      tags:
      - PaymentWrites
      x-access:
      - Public
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/AdviceSubmissionCreation'
          application/json:
            schema:
              $ref: '#/components/schemas/AdviceSubmissionCreation'
  /transaction/payments/{id}/recalls:
    post:
      operationId: CreatePaymentRecall
      parameters:
      - description: Payment Id
        in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        201:
          description: Recall creation response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RecallCreationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RecallCreationResponse'
        400:
          description: Recall creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Create recall
      tags:
      - PaymentWrites
      x-access:
      - Public
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RecallCreation'
          application/json:
            schema:
              $ref: '#/components/schemas/RecallCreation'
  /transaction/payments/{id}/recalls/{recallId}/decisions:
    post:
      operationId: CreatePaymentRecallDecision
      parameters:
      - description: Payment Id
        in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      - description: Recall Id
        in: path
        name: recallId
        required: true
        schema:
          type: string
          format: uuid
      responses:
        201:
          description: Recall decision creation response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RecallDecisionCreationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RecallDecisionCreationResponse'
        400:
          description: Recall decision creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Create recall decision
      tags:
      - PaymentWrites
      x-access:
      - Public
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RecallDecisionCreation'
          application/json:
            schema:
              $ref: '#/components/schemas/RecallDecisionCreation'
  /transaction/payments/{id}/recalls/{recallId}/decisions/{decisionId}/submissions:
    post:
      operationId: CreatePaymentRecallDecisionSubmission
      parameters:
      - description: Payment Id
        in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      - description: Recall Id
        in: path
        name: recallId
        required: true
        schema:
          type: string
          format: uuid
      - description: Decision Id
        in: path
        name: decisionId
        required: true
        schema:
          type: string
          format: uuid
      responses:
        201:
          description: Recall decision submission creation response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RecallDecisionSubmissionCreationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RecallDecisionSubmissionCreationResponse'
        400:
          description: Recall decision submission creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Create recall decision submission
      tags:
      - PaymentWrites
      x-access:
      - Public
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RecallDecisionSubmissionCreation'
          application/json:
            schema:
              $ref: '#/components/schemas/RecallDecisionSubmissionCreation'
  /transaction/payments/{id}/recalls/{recallId}/submissions:
    post:
      operationId: CreatePaymentRecallSubmission
      parameters:
      - description: Payment Id
        in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      - description: Recall Id
        in: path
        name: recallId
        required: true
        schema:
          type: string
          format: uuid
      responses:
        201:
          description: Recall submission creation response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RecallSubmissionCreationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RecallSubmissionCreationResponse'
        400:
          description: Recall submission creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Create recall submission
      tags:
      - PaymentWrites
      x-access:
      - Public
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/RecallSubmissionCreation'
          application/json:
            schema:
              $ref: '#/components/schemas/RecallSubmissionCreation'
  /transaction/payments/{id}/returns:
    post:
      operationId: CreatePaymentReturn
      parameters:
      - description: Payment Id
        in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        201:
          description: Return creation response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ReturnCreationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnCreationResponse'
        400:
          description: Return creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Return creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        403:
          description: Return creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        404:
          description: Return creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        409:
          description: Return creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        500:
          description: Return creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Create return
      tags:
      - PaymentWrites
      x-access:
      - Public
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ReturnCreation'
          application/json:
            schema:
              $ref: '#/components/schemas/ReturnCreation'
  /transaction/payments/{id}/returns/{returnId}/reversals:
    post:
      operationId: CreatePaymentReturnReversal
      parameters:
      - description: Payment Id
        in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      - description: Return Id
        in: path
        name: returnId
        required: true
        schema:
          type: string
          format: uuid
      responses:
        201:
          description: Reversal creation response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ReturnReversalCreationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnReversalCreationResponse'
        400:
          description: Reversal creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Reversal creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        403:
          description: Reversal creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        404:
          description: Reversal creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        409:
          description: Reversal creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        500:
          description: Reversal creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Create return reversal
      tags:
      - PaymentWrites
      x-access:
      - Public
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ReturnReversalCreation'
          application/json:
            schema:
              $ref: '#/components/schemas/ReturnReversalCreation'
  /transaction/payments/{id}/returns/{returnId}/submissions:
    post:
      operationId: CreatePaymentReturnSubmission
      parameters:
      - description: Payment Id
        in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      - description: Return Id
        in: path
        name: returnId
        required: true
        schema:
          type: string
          format: uuid
      responses:
        201:
          description: Return submission creation response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ReturnSubmissionCreationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnSubmissionCreationResponse'
        400:
          description: Return submission creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        401:
          description: Return submission creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        403:
          description: Return submission creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        404:
          description: Return submission creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        409:
          description: Return submission creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        500:
          description: Return submission creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: create return submission
      tags:
      - PaymentWrites
      x-access:
      - Public
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ReturnSubmissionCreation'
          application/json:
            schema:
              $ref: '#/components/schemas/ReturnSubmissionCreation'
  /transaction/payments/{id}/reversals:
    post:
      operationId: CreatePaymentReversal
      parameters:
      - description: Payment Id
        in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        201:
          description: Reversal creation response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ReversalCreationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ReversalCreationResponse'
        400:
          description: Reversal creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Create reversal
      tags:
      - PaymentWrites
      x-access:
      - Public
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ReversalCreation'
          application/json:
            schema:
              $ref: '#/components/schemas/ReversalCreation'
  /transaction/payments/{id}/reversals/{reversalId}/admissions/{admissionId}/tasks/{taskId}:
    parameters:
    - description: Payment Id
      in: path
      name: id
      required: true
      schema:
        type: string
        format: uuid
    - description: Reversal Id
      in: path
      name: reversalId
      required: true
      schema:
        type: string
        format: uuid
    - description: Admission Id
      in: path
      name: admissionId
      required: true
      schema:
        type: string
        format: uuid
    - description: Reversal Admission Task Id
      in: path
      name: taskId
      required: true
      schema:
        type: string
        format: uuid
    patch:
      operationId: PatchReversalAdmissionTask
      responses:
        200:
          description: Reversal Admission Task update response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ReversalAdmissionTaskDetailsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ReversalAdmissionTaskDetailsResponse'
        400:
          description: Error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        409:
          description: Conflict
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Patch Reversal Admission Task
      tags:
      - PaymentWrites
      x-access:
      - Public
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReversalAdmissionTaskAmendment'
  /transaction/payments/{id}/reversals/{reversalId}/submissions:
    post:
      operationId: CreatePaymentReversalSubmission
      parameters:
      - description: Payment Id
        in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      - description: Reversal Id
        in: path
        name: reversalId
        required: true
        schema:
          type: string
          format: uuid
      responses:
        201:
          description: Reversal submission creation response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ReversalSubmissionCreationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ReversalSubmissionCreationResponse'
        400:
          description: Reversal submission creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: Create reversal submission
      tags:
      - PaymentWrites
      x-access:
      - Public
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ReversalSubmissionCreation'
          application/json:
            schema:
              $ref: '#/components/schemas/ReversalSubmissionCreation'
  /transaction/payments/{id}/submissions:
    post:
      operationId: CreatePaymentSubmission
      parameters:
      - description: Payment Id
        in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        201:
          description: Submission creation response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PaymentSubmissionCreationResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSubmissionCreationResponse'
        400:
          description: Submission creation error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      summary: create submission
      tags:
      - PaymentWrites
      x-access:
      - Public
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/PaymentSubmissionCreation'
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentSubmissionCreation'
  /transaction/payments/{id}/submissions/{submissionId}/tasks/{taskId}:
    parameters:
    - description: Payment Id
      in: path
      name: id
      required: true
      schema:
        type: string
        format: uuid
    - description: Submission Id
      in: path
      name: submissionId
      required: true
      schema:
        type: string
        format: uuid
    - description: Payment Submission Task Id
      in: path
      name: taskId
      required: true
      schema:
        type: string
        format: uuid
    patch:
      operationId: PatchPaymentSubmissionTask
      responses:
        200:
          description: Payment Submission Task update response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/PaymentSubmissionTaskDetailsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSubmissionTaskDetailsResponse'
        400:
          description: Error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        409:
          description: Conflict
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiErrorWithActualResource'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorWithActualResource'
      summary: Patch Payment Submission Task
      tags:
      - PaymentWrites
      x-access:
      - Public
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/PaymentSubmissionTaskAmendment'
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentSubmissionTaskAmendment'
  /transaction/payments/{paymentId}/returns/{returnId}/admissions/{returnAdmissionId}/tasks/{taskId}:
    parameters:
    - description: Payment ID
      in: path
      name: paymentId
      required: true
      schema:
        type: string
        format: uuid
    - description: Return ID
      in: path
      name: returnId
      required: true
      schema:
        type: string
        format: uuid
    - description: Return Admission ID
      in: path
      name: returnAdmissionId
      required: true
      schema:
        type: string
        format: uuid
    - description: Return Admission Task Id
      in: path
      name: taskId
      required: true
      schema:
        type: string
        format: uuid
    patch:
      operationId: PatchReturnAdmissionTask
      responses:
        200:
          description: Return Admission Task update response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ReturnAdmissionTaskDetailsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnAdmissionTaskDetailsResponse'
        400:
          description: Error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        409:
          description: Conflict
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiErrorWithActualResource'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorWithActualResource'
      summary: Patch Return Admission Task
      tags:
      - PaymentWrites
      x-access:
      - Public
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ReturnAdmissionTaskAmendment'
          application/json:
            schema:
              $ref: '#/components/schemas/ReturnAdmissionTaskAmendment'
  /transaction/payments/{paymentId}/returns/{returnId}/submissions/{returnSubmissionId}/tasks/{taskId}:
    parameters:
    - description: Payment ID
      in: path
      name: paymentId
      required: true
      schema:
        type: string
        format: uuid
    - description: Return ID
      in: path
      name: returnId
      required: true
      schema:
        type: string
        format: uuid
    - description: Return Submission ID
      in: path
      name: returnSubmissionId
      required: true
      schema:
        type: string
        format: uuid
    - description: Return Submission Task Id
      in: path
      name: taskId
      required: true
      schema:
        type: string
        format: uuid
    patch:
      operationId: PatchReturnSubmissionTask
      responses:
        200:
          description: Return Submission Task update response
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ReturnSubmissionTaskDetailsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ReturnSubmissionTaskDetailsResponse'
        400:
          description: Error
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiError'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        409:
          description: Conflict
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ApiErrorWithActualResource'
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorWithActualResource'
      summary: Patch Return Submission Task
      tags:
      - PaymentWrites
      x-access:
      - Public
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ReturnSubmissionTaskAmendment'
          application/json:
            schema:
              $ref: '#/components/schemas/ReturnSubmissionTaskAmendment'
components:
  schemas:
    Agent:
      properties:
        account_number:
          description: Account number of the financial institution. Can be BBAN or IBAN.
          example: BBAN
          type: string
        account_number_code:
          $ref: '#/components/schemas/AccountNumberCode'
        address:
          example:
          - 1 Clarence Mew, Horsforth, Leeds UK 4EP
          items:
            type: string
          maxItems: 4
          type: array
          x-omitempty: true
        identification:
          properties:
            bank_id:
              description: Identification code of the financial institution.
              example: LOYDGB2L
              maxLength: 30
              type: string
            bank_id_code:
              description: Type of identification provided in bank_id field. Required when bank_id is provided, not used otherwise.
              example: SWBIC
              maxLength: 5
              type: string
            bank_ids:
              description: Array for additional ID(s) for agent
              items:
                $ref: '#/components/schemas/AccountWithBankId'
              type: array
              x-omitempty: true
          type: object
        name:
          description: Name by which the financial institution is known
          example: Lloyds Bank
          type: string
        role:
          $ref: '#/components/schemas/AgentRole'
      type: object
      x-access:
      - Public
    AdviceCreation:
      properties:
        data:
          $ref: '#/components/schemas/PaymentAdvice'
      type: object
      x-access:
      - Public
    RelationshipPaymentAdmissionTask:
      properties:
        data:
          items:
            $ref: '#/components/schemas/PaymentAdmissionTask'
          type: array
      type: object
      x-access:
      - Public
    ReturnAdmissionTaskRelationships:
      properties:
        payment:
          $ref: '#/components/schemas/RelationshipPayments'
        payment_return:
          $ref: '#/components/schemas/RelationshipReturns'
        return_admission:
          $ref: '#/components/schemas/RelationshipReturnAdmissions'
      type: object
      x-access:
      - Public
    PaymentCreationResponse:
      properties:
        data:
          $ref: '#/components/schemas/Payment'
        links:
          $ref: '#/components/schemas/Links'
      type: object
      x-access:
      - Public
    RelationshipReversals:
      properties:
        data:
          items:
            $ref: '#/components/schemas/ReversalPayment'
          type: array
      type: object
      x-access:
      - Public
    RecallRelationships:
      properties:
        payment:
          $ref: '#/components/schemas/RelationshipLinks'
          description: ID of the payment resource related to the recall
        recall_admission:
          $ref: '#/components/schemas/RelationshipLinks'
          description: ID of the recall admission resource related to the recall
        recall_decisions:
          $ref: '#/components/schemas/RelationshipLinks'
          description: ID of the recall decision resource related to the recall
        recall_reversal:
          $ref: '#/components/schemas/RelationshipLinks'
          description: ID of the recall reversal resource related to the recall
        recall_submission:
          $ref: '#/components/schemas/RelationshipLinks'
          description: ID of the recall submission resource related to the recall
      type: object
      x-access:
      - Public
    NewRecall:
      properties:
        attributes:
          properties:
            agents:
              description: Block to represent a Financial Institution/agent in the payment chain
              items:
                $ref: '#/components/schemas/Agent'
              type: array
              x-omitempty: true
            parties:
              description: Block to represent parties involved in the payment chain
              items:
                $ref: '#/components/schemas/Party'
              type: array
              x-omitempty: true
            reason:
              description: Further explanation of the reason given in reason_code. Only evaluated for certain reason codes.
              example: Payment was a duplicate
              type: string
              x-omitempty: true
            reason_code:
              description: The reason for the recall. Has to be a valid [recall reason code](http://api-docs.form3.tech/api.html#enumerations-recall-reason-codes).
              example: DUPL
              type: string
            references:
              description: Block to represent a list of references
              items:
                $ref: '#/components/schemas/Reference'
              type: array
              x-omitempty: true
            unique_scheme_id:
              description: Scheme-specific unique ID
              example: L5W48NDWYW7JV9MRO71020180301826040011
              type: string
              x-length: 42
              x-omitempty: true
          type: object
        id:
          description: Unique resource ID
          example: 7826c3cb-d6fd-41d0-b187-dc23ba928772
          format: uuid
          type: string
        organisation_id:
          description: Unique ID of the organisation this resource is created by
          example: ee2fb143-6dfe-4787-b183-ca8ddd4164d2
          format: uuid
          type: string
        relationships:
          $ref: '#/components/schemas/RecallRelationships'
        type:
          description: Name of the resource type
          example: recalls
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          description: Version number
          example: 0
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      type: object
      x-access:
      - Public
    RelationshipPaymentSubmissions:
      properties:
        data:
          items:
            $ref: '#/components/schemas/PaymentSubmission'
          type: array
      type: object
      x-access:
      - Public
    AdviceSubmissionStatus:
      enum:
      - accepted
      - released_to_gateway
      - queued_for_delivery
      - delivery_confirmed
      - delivery_failed
      - submitted
      - validation_pending
      - validation_passed
      type: string
      x-access:
      - Public
    ReversalSubmissionCreation:
      properties:
        data:
          $ref: '#/components/schemas/NewReversalSubmission'
      type: object
      x-access:
      - Public
    PaymentSubmissionTaskDetailsResponse:
      properties:
        data:
          $ref: '#/components/schemas/PaymentSubmissionTask'
        links:
          $ref: '#/components/schemas/Links'
      type: object
      x-access:
      - Public
    RecallDecisionSubmissionAttributes:
      properties:
        auto:
          default: false
          description: Indicates if the submission was created automatically by the system (`true`) or manually (`false`).
          type: boolean
        reference_id:
          description: Additional payment reference assigned by the scheme
          type: string
        status:
          $ref: '#/components/schemas/RecallDecisionSubmissionStatus'
        status_reason:
          description: Reason for submission failure if status is `delivery_failed`
          example: recall does not exist
          type: string
        submission_datetime:
          description: Date and time of the submission
          example: '2018-03-12T14:11:48.055Z'
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
      type: object
      x-access:
      - Public
    PaymentAdmissionTaskRelationships:
      properties:
        payment:
          $ref: '#/components/schemas/RelationshipPayments'
        payment_admission:
          $ref: '#/components/schemas/RelationshipPaymentAdmissions'
        payment_admission_task:
          $ref: '#/components/schemas/RelationshipPaymentAdmissionTask'
      type: object
      x-access:
      - Public
    Payment:
      properties:
        attributes:
          $ref: '#/components/schemas/PaymentAttributes'
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          description: Unique resource ID
          example: 7826c3cb-d6fd-41d0-b187-dc23ba928772
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          description: Unique ID of the organisation this resource is created by
          example: ee2fb143-6dfe-4787-b183-ca8ddd4164d2
          format: uuid
          type: string
        relationships:
          $ref: '#/components/schemas/PaymentRelationships'
        signatures:
          items:
            $ref: '#/components/schemas/ResourceSignature'
          maxItems: 1
          type: array
          x-access:
          - Public
          x-omitempty: true
        type:
          description: Name of the resource type
          example: payments
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          description: Version number
          example: 0
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      - attributes
      type: object
      x-access:
      - Public
    RelationshipLinks:
      properties:
        data:
          items:
            $ref: '#/components/schemas/RelationshipData'
          type: array
      type: object
      x-access:
      - Public
    AgentInstruction:
      properties:
        instructions:
          items:
            $ref: '#/components/schemas/Instruction'
          type: array
        role:
          $ref: '#/components/schemas/AgentInstructionRole'
      type: object
      x-access:
      - Public
    PaymentAdmissionStatus:
      description: '[Status of the admission](https://api-docs.form3.tech/api.html#enumerations-payment-status-codes-admission-status)'
      enum:
      - confirmed
      - failed
      - pending
      example: confirmed
      type: string
      x-access:
      - Public
    RelationshipReturnSubmissions:
      properties:
        data:
          items:
            $ref: '#/components/schemas/ReturnSubmission'
          type: array
      type: object
      x-access:
      - Public
    AgentInstructionRole:
      enum:
      - BeneficiaryAgent
      type: string
      x-access:
      - Public
    Links:
      properties:
        first:
          description: Link to the first resource in the list
          example: https://api.test.form3.tech/v1/api_name/resource_type
          type:
          - string
          - 'null'
        last:
          description: Link to the last resource in the list
          example: https://api.test.form3.tech/v1/api_name/resource_type
          type:
          - string
          - 'null'
        next:
          description: Link to the next resource in the list
          example: https://api.test.form3.tech/v1/api_name/resource_type
          type:
          - string
          - 'null'
        prev:
          description: Link to the previous resource in the list
          example: https://api.test.form3.tech/v1/api_name/resource_type
          type:
          - string
          - 'null'
        self:
          description: Link to this resource type
          example: https://api.test.form3.tech/v1/api_name/resource_type
          type: string
      required:
      - self
      type: object
      x-access:
      - Public
    NewReturnSubmission:
      properties:
        id:
          description: Unique resource ID
          example: 7826c3cb-d6fd-41d0-b187-dc23ba928772
          format: uuid
          type: string
        organisation_id:
          description: Unique ID of the organisation this resource is created by
          example: ee2fb143-6dfe-4787-b183-ca8ddd4164d2
          format: uuid
          type: string
        relationships:
          $ref: '#/components/schemas/ReturnSubmissionRelationships'
        type:
          description: Name of the resource type
          example: return_submissions
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          description: Version number
          example: 0
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      type: object
      x-access:
      - Public
    ReversalAdmissionTaskAmendment:
      properties:
        data:
          $ref: '#/components/schemas/ReversalAdmissionTaskUpdate'
      type: object
      x-access:
      - Public
    ReversalAdmissionTaskUpdate:
      properties:
        attributes:
          properties:
            output:
              additionalProperties: true
              description: Key Value map that contains the Task result.
              example:
                outcome: passed
              type: object
            status:
              $ref: '#/components/schemas/ReversalAdmissionTaskStatus'
          type: object
        id:
          format: uuid
          type: string
        organisation_id:
          description: Unique ID of the organisation this resource is created by
          example: ee2fb143-6dfe-4787-b183-ca8ddd4164d2
          format: uuid
          type: string
        type:
          enum:
          - reversal_admission_tasks
          type: string
        version:
          description: Version number
          example: 0
          minimum: 0
          type: integer
      type: object
      x-access:
      - Public
    Recall:
      properties:
        attributes:
          properties:
            agents:
              description: Block to represent a Financial Institution/agent in the payment chain
              items:
                $ref: '#/components/schemas/Agent'
              type: array
              x-omitempty: true
            parties:
              description: Block to represent parties involved in the payment chain
              items:
                $ref: '#/components/schemas/Party'
              type: array
              x-omitempty: true
            reason:
              description: Further explanation of the reason given in reason_code. Only evaluated for certain reason codes.
              example: Payment was a duplicate
              type: string
              x-omitempty: true
            reason_code:
              description: The reason for the recall. Has to be a valid [recall reason code](http://api-docs.form3.tech/api.html#enumerations-recall-reason-codes).
              example: DUPL
              type: string
            references:
              description: Block to represent a list of references
              items:
                $ref: '#/components/schemas/Reference'
              type: array
              x-omitempty: true
            status:
              $ref: '#/components/schemas/RecallStatus'
            unique_scheme_id:
              description: Scheme-specific unique ID
              example: L5W48NDWYW7JV9MRO71020180301826040011
              type: string
              x-length: 42
              x-omitempty: true
          type: object
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          description: Unique resource ID
          example: 7826c3cb-d6fd-41d0-b187-dc23ba928772
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          description: Unique ID of the organisation this resource is created by
          example: ee2fb143-6dfe-4787-b183-ca8ddd4164d2
          format: uuid
          type: string
        relationships:
          $ref: '#/components/schemas/RecallRelationships'
        type:
          description: Name of the resource type
          example: recalls
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          description: Version number
          example: 0
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      type: object
      x-access:
      - Public
    PaymentSubmissionTaskStatus:
      description: status of the submission task
      enum:
      - completed
      - failed
      - pending
      - on_hold
      example: completed
      type: string
      x-access:
      - Public
    Settlement:
      description: Specifies the details on how the settlement of the transaction between the instructing agent and the instructed agent is completed
      properties:
        account_number:
          example: '12345678'
          type:
          - string
          - 'null'
        account_number_code:
          $ref: '#/components/schemas/AccountNumberCode'
          enum:
          - IBAN
          - BBAN
          type:
          - string
          - 'null'
          x-length: 4
        bank_id:
          type:
          - string
          - 'null'
        bank_id_code:
          $ref: '#/components/schemas/BankIdCode'
          enum:
          - GBDSC
          type:
          - string
          - 'null'
        method:
          description: 'Method used to settle the payment instruction. Acceptable Values for SEPA: CLRG. Acceptable Values for SWIFT: INDA (settled by Instructed Agent), INGA (Settled by Instructing Agent), COVE (Cover Payment)'
          enum:
          - CLRG
          - COVE
          - INGA
          - INDA
          example: CLRG
          type:
          - string
          - 'null'
      type: object
      x-access:
      - Public
    ReceiversCorrespondentAccountHoldingEntity:
      properties:
        bank_address:
          description: Receiver's correspondent's address
          example:
          - Liverpool Customer Service Centre
          - Stevenson Way
          - Wavertree
          - L13 1NW
          items:
            type: string
          type: array
          x-length: 140
          x-omitempty: true
        bank_id:
          description: SWIFT BIC for receiver's correspondent
          example: '333333'
          type: string
          x-length: 11
        bank_id_code:
          description: The type of identification provided at `bank_id` attribute. Must be ISO code as listed in the [External Code Sets spreadsheet](https://www.iso20022.org/external_code_list.page)
          type: string
          x-length: 5
        bank_name:
          description: Receiver's correspondent's name
          example: XYZ BANK PLC
          type: string
          x-length: 35
        bank_party_id:
          description: Receiver's correspondent party identifier
          example: //AT12345
          type: string
          x-length: 37
      type: object
      x-access:
      - Public
    PrivateIdentification:
      properties:
        identification:
          description: Private Identification of an debtor/beneficiary or ultimate debtor/beneficiary
          example: AB12345
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-length: 35
        identification_issuer:
          description: Issuer of the `identification`
          example: HM Passport Office
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-length: 35
        identification_scheme:
          description: Scheme of the `identification`
          example: BANK
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-length: 35
        identification_scheme_code:
          description: The code that specifies the type of `identification`
          example: CCPT
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: conditional
          x-description:
            sepa: If `identification` is specified, must be either `ARNU`, `CCPT`, `CUST`, `DRLC`, `EMPL`, `NIDN`, `SOSE`, `TXID` or `Other`
      type: object
      x-access:
      - Public
    RecallSubmissionCreation:
      properties:
        data:
          $ref: '#/components/schemas/NewRecallSubmission'
      type: object
      x-access:
      - Public
    ReturnSubmission:
      properties:
        attributes:
          properties:
            auto:
              default: false
              description: Indicates if the submission was created automatically by the system (true) or manually (false)
              type:
              - boolean
              - 'null'
            file_identifier:
              description: Identification code of the file sent to scheme.
              example: '123456'
              pattern: ^[0-9a-zA-Z]+$
              type:
              - string
              - 'null'
            file_number:
              description: Number of the file sent to scheme.
              example: '001'
              pattern: ^[0-9]+$
              type:
              - string
              - 'null'
            limit_breach_end_datetime:
              description: Time a payment was released from being held due to a limit breach
              example: '2018-03-12T14:11:55.055Z'
              format: date-time
              readOnly: true
              type:
              - string
              - 'null'
            limit_breach_start_datetime:
              description: Start time a payment was held due to a limit breach
              example: '2018-03-12T14:11:50.055Z'
              format: date-time
              readOnly: true
              type:
              - string
              - 'null'
            posting_status:
              $ref: '#/components/schemas/PostingStatus'
            redirected_account_number:
              description: Details of the account to which funds are redirected (if applicable)
              example: '12345678'
              type: string
            redirected_bank_id:
              description: Details of the bank to which funds are redirected (if applicable)
              example: '400300'
              type: string
            reference_id:
              description: Additional payment reference assigned by the scheme
              type: string
            route:
              description: Route taken for a return
              enum:
              - on_us
              - xp
              type: string
            scheme_status_code:
              description: Scheme-specific status (if submission has been submitted to a scheme)
              example: '0000'
              type: string
            scheme_status_code_description:
              description: '[Description](http://api-docs.form3.tech/api.html#enumerations-scheme-status-codes-for-bacs) of `scheme_status_code`'
              example: Field 1 (destination sorting code) was invalid
              type: string
            settlement_cycle:
              description: Cycle in which the payment will be settled
              example: 1
              minimum: 0
              type: integer
            settlement_date:
              description: Date that the payment will be settled
              example: '2017-07-23'
              format: date
              type:
              - string
              - 'null'
            status:
              $ref: '#/components/schemas/ReturnSubmissionStatus'
            status_reason:
              description: Description of the submission status
              example: Accepted without qualification
              type: string
            submission_datetime:
              description: Time of the submission
              example: '2018-03-12T14:11:48.055Z'
              format: date-time
              readOnly: true
              type:
              - string
              - 'null'
            transaction_start_datetime:
              description: Time the request was received by Form3. Used to compute the total transaction time of a payment.
              example: '2018-03-12T14:11:49.055Z'
              format: date-time
              readOnly: true
              type:
              - string
              - 'null'
          type: object
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          description: Unique resource ID
          example: 7826c3cb-d6fd-41d0-b187-dc23ba928772
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          description: Unique ID of the organisation this resource is created by
          example: ee2fb143-6dfe-4787-b183-ca8ddd4164d2
          format: uuid
          type: string
        relationships:
          $ref: '#/components/schemas/ReturnSubmissionRelationships'
        type:
          description: Name of the resource type
          example: return_submissions
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          description: Version number
          example: 0
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      type: object
      x-access:
      - Public
    PaymentSubmissionCreationResponse:
      properties:
        data:
          $ref: '#/components/schemas/PaymentSubmissionFetch'
        links:
          $ref: '#/components/schemas/Links'
      type: object
      x-access:
      - Public
    ReturnAdmission:
      properties:
        attributes:
          properties:
            admission_datetime:
              description: Date and time the payment admission was created
              example: '2017-09-28T14:21:46.123+01:00'
              format: date-time
              readOnly: true
              type:
              - string
              - 'null'
            posting_status:
              $ref: '#/components/schemas/PostingStatus'
            reference_id:
              description: Additional payment reference assigned by the scheme
              type: string
            route:
              description: Route taken for a return
              enum:
              - on_us
              - xp
              type: string
            scheme_status_code:
              description: Refer to individual scheme where applicable
              example: '1001'
              type: string
            scheme_status_code_description:
              description: '[Description](http://api-docs.form3.tech/api.html#enumerations-scheme-status-codes-for-bacs) of `scheme_status_code`'
              example: Field 1 (destination sorting code) was invalid
              type: string
            settlement_cycle:
              description: Cycle in which the payment will be settled
              example: 1
              minimum: 0
              type: integer
            settlement_date:
              description: Date on which the payment will be settled
              example: '2017-01-14'
              format: date
              type:
              - string
              - 'null'
            status:
              $ref: '#/components/schemas/ReturnAdmissionStatus'
            status_reason:
              description: Further explanation of the status. [See here](http://api-docs.form3.tech/api.html#enumerations-payment-admission-status-reasons) for possible values.
              example: Account data invalid
              type: string
            unique_scheme_id:
              description: Scheme-specific unique ID (42 character string)
              example: ''
              type: string
          type: object
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          description: Unique resource ID
          example: 7826c3cb-d6fd-41d0-b187-dc23ba928772
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          description: Unique ID of the organisation this resource is created by
          example: ee2fb143-6dfe-4787-b183-ca8ddd4164d2
          format: uuid
          type: string
        relationships:
          $ref: '#/components/schemas/ReturnAdmissionRelationships'
        type:
          description: Name of the resource type
          example: return_admissions
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          description: Version number
          example: 0
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      type: object
      x-access:
      - Public
    PaymentAdmissionTaskGroup:
      description: Identifies the task group the task belongs to
      example: accounting
      type: string
      x-access:
      - Public
    AdviceSubmissionRelationships:
      properties:
        advice:
          $ref: '#/components/schemas/RelationshipAdvices'
        payment:
          $ref: '#/components/schemas/RelationshipPayments'
      type: object
      x-access:
      - Public
    PaymentAdmissionStatusReason:
      description: '[Payment admission status reason](https://api-docs.form3.tech/api.html#enumerations-payment-status-codes-payment-admission-status-reasons)'
      enum:
      - accepted
      - account_closed
      - account_closed_beneficiary_deceased
      - account_closed_beneficiary_sensitivities
      - account_closed_business_reasons
      - account_closed_currency
      - account_closed_stopped
      - account_closed_terms_and_conditions
      - account_closed_transferred
      - agent_clearing_process_error
      - agent_clearing_process_timeout
      - agent_reason_unknown
      - agent_suspended
      - agent_unavailable
      - amount_exceeds_settlement_limit
      - amount_invalid_or_missing
      - amount_not_allowed
      - bankid_not_provisioned
      - beneficiary_agent_clearing_process_error
      - beneficiary_agent_clearing_process_timeout
      - beneficiary_agent_suspended
      - beneficiary_agent_unavailable
      - blocked_account
      - business_reasons
      - customer_check_failed
      - customer_reason_unknown
      - duplicate_payment
      - end_to_end_id_missing_or_invalid
      - incorrect_reference_reference_mask
      - incorrect_reference_secondary_identification
      - incorrect_reference_validation_type
      - invalid_bank_ID
      - invalid_bank_operation_code
      - invalid_beneficiary_address
      - invalid_beneficiary_agent_BIC
      - invalid_beneficiary_details
      - invalid_debtor_agent_BIC
      - invalid_debtor_details
      - original_payment_not_received
      - regulatory_reason
      - scheme_timeout
      - transaction_forbidden
      - transaction_type_not_supported
      - unknown_accountnumber
      - rejected_by_customer
      - beneficiary_name_not_present
      - invalid_beneficiary_account_type
      example: accepted
      type: string
      x-access:
      - Public
    PaymentSubmissionTaskAmendment:
      properties:
        data:
          $ref: '#/components/schemas/PaymentSubmissionTaskUpdate'
      type: object
      x-access:
      - Public
    ReversalSubmissionRelationships:
      properties:
        payment:
          $ref: '#/components/schemas/RelationshipPayments'
        reversal:
          $ref: '#/components/schemas/RelationshipReversals'
        validations:
          $ref: '#/components/schemas/RelationshipLinks'
      type: object
      x-access:
      - Public
    PaymentSubmissionTaskAssignee:
      description: Helps to identify the owner of the task
      enum:
      - customer
      - form3
      example: form3
      type: string
      x-access:
      - Public
    ReversalAdmissionTaskAssignee:
      description: Helps to identify the owner of the task
      enum:
      - customer
      - form3
      example: form3
      type: string
      x-access:
      - Public
    ReversalAdmissionTask:
      properties:
        attributes:
          $ref: '#/components/schemas/ReversalAdmissionTaskAttributes'
        created_on:
          example: '2017-09-26T15:26:57.494Z'
          format: date-time
          type: string
        id:
          format: uuid
          type: string
        modified_on:
          example: '2017-09-26T15:26:57.494Z'
          format: date-time
          type: string
        organisation_id:
          description: Unique ID of the organisation this resource is created by
          example: ee2fb143-6dfe-4787-b183-ca8ddd4164d2
          format: uuid
          type: string
        relationships:
          $ref: '#/components/schemas/ReversalAdmissionTaskRelationships'
        type:
          description: Name of the resource type
          example: reversal_admission_tasks
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          description: Version number
          example: 0
          minimum: 0
          type: integer
      type: object
      x-access:
      - Public
    RelationshipPaymentAdmissions:
      properties:
        data:
          items:
            $ref: '#/components/schemas/PaymentAdmission'
          type: array
      type: object
      x-access:
      - Public
    PartyRole:
      description: Role of the party. Enum of pre-defined values, new values can be added when needed
      enum:
      - InitiatingParty
      - CaseCreator
      - Originator
      - Invoicer
      - Invoicee
      example: InitiatingParty
      type: string
      x-access:
      - Public
    AccountHoldingEntity:
      description: Information about the financial institution servicing the account.
      properties:
        bank_address:
          description: Financial institution address
          example:
          - Liverpool Customer Service Centre
          - Stevenson Way
          - Wavertree
          - L13 1NW
          items:
            type: string
          type: array
          x-omitempty: true
        bank_id:
          pattern: ^[A-Z0-9]{0,16}$
          type: string
        bank_id_code:
          $ref: '#/components/schemas/BankIdCode'
          enum:
          - GBDSC
          example: GBDSC
          type: string
          x-length: 5
        bank_ids:
          description: Array for additional ID(s) for agent
          items:
            $ref: '#/components/schemas/AccountWithBankId'
          type: array
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-description:
            sepa: Array for additional ID(s) for agent
          x-omitempty: true
        bank_name:
          description: Financial institution name
          example: NATIONAL WESTMINSTER BANK PLC
          type: string
        bank_party_id:
          description: Identifier of the financial institution which services the account
          example: //AT12345
          type: string
      required:
      - bank_id
      - bank_id_code
      type: object
      x-access:
      - Public
    ReturnSubmissionTaskStatus:
      description: status of the return submission task
      enum:
      - completed
      - failed
      - pending
      - on_hold
      example: completed
      type: string
      x-access:
      - Public
    RecallStatus:
      description: The status of the recall, can either be `pending`, `confirmed`, or `failed`.
      enum:
      - pending
      - confirmed
      - failed
      example: confirmed
      type: string
      x-access:
      - Public
      x-parent: data.attributes
    RelationshipData:
      properties:
        id:
          description: ID of the referenced resource
          format: uuid
          type: string
        type:
          description: Name of the referenced resource type
          type: string
      type: object
      x-access:
      - Public
    RecallDecisionAttributes:
      properties:
        agents:
          description: Block to represent a Financial Institution/agent in the payment chain
          items:
            $ref: '#/components/schemas/Agent'
          type: array
          x-omitempty: true
        answer:
          $ref: '#/components/schemas/RecallDecisionAnswer'
        charges_amount:
          $ref: '#/components/schemas/CurrencyAndAmount'
          x-omitempty: true
        reason:
          description: Optional free text reason in addition to `reason_code`
          example: Closed account number
          type: string
          x-omitempty: true
        reason_code:
          description: Reason for a rejected decision. Required when answer is rejected, ignored otherwise. Has to be a valid [rejected recall decision reason code](http://api-docs.form3.tech/api.html#enumerations-rejected-recall-decision-reason-codes)
          example: AC04
          type: string
          x-omitempty: true
        recall_amount:
          $ref: '#/components/schemas/CurrencyAndAmount'
          x-omitempty: true
        references:
          description: Block to represent a list of references
          items:
            $ref: '#/components/schemas/Reference'
          type: array
          x-omitempty: true
        resolution_related_information:
          $ref: '#/components/schemas/ResolutionRelatedInformation'
          x-omitempty: true
        scheme_transaction_id:
          description: Unique identification, as assigned by the first instructing agent, to unambiguously identify the transaction that is passed on, unchanged, throughout the entire interbank chain.
          example: '123456789012345678'
          type: string
          x-length: 35
          x-omitempty: true
        unique_scheme_id:
          description: Scheme-specific unique ID
          example: L5W48NDWYW7JV9MRO71020180301826040011
          type: string
          x-length: 42
          x-omitempty: true
      type: object
      x-access:
      - Public
    PaymentAdmission:
      properties:
        attributes:
          properties:
            account_validation_outcome:
              $ref: '#/components/schemas/AccountValidationOutcome'
            admission_datetime:
              description: Date and time the payment admission was created
              example: '2017-09-26T15:26:57.494Z'
              format: date-time
              readOnly: true
              type:
              - string
              - 'null'
            clearing_system:
              description: Clearing infrastructure through which the payment instruction was processed
              example: TIPS
              pattern: ^[0-9A-Za-z_]*$
              type: string
            posting_status:
              $ref: '#/components/schemas/PostingStatus'
            reference_id:
              description: Additional payment reference assigned by the scheme
              type: string
            route:
              description: Route taken for an inbound payment
              enum:
              - on_us
              - xp
              type: string
            scheme_received_datetime:
              description: Date and time the inbound payment was received. Supports RFC3339 Nano
              example: '2017-09-26T15:26:57.123456789Z'
              format: date-time
              pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{1,9}Z$
              type:
              - string
              - 'null'
            scheme_status_code:
              description: Refers to individual scheme where applicable
              example: '10001'
              type: string
            scheme_status_code_description:
              description: '[Description](http://api-docs.form3.tech/api.html#enumerations-scheme-status-codes-for-bacs) of `scheme_status_code`'
              example: Field 1 (destination sorting code) was invalid
              type: string
            settlement_cycle:
              description: Cycle in which the payment will be settled
              example: 1
              minimum: 0
              type: integer
            settlement_date:
              description: Date on which the payment will be settled
              example: '2017-09-28'
              format: date
              type:
              - string
              - 'null'
            status:
              $ref: '#/components/schemas/PaymentAdmissionStatus'
            status_reason:
              $ref: '#/components/schemas/PaymentAdmissionStatusReason'
            validation_completed_datetime:
              description: Date and time the inbound payment was successfully validated by Form3. Supports RFC3339 Nano
              example: '2017-09-26T15:26:57.123456789Z'
              format: date-time
              pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{1,9}Z$
              type:
              - string
              - 'null'
          type: object
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          description: Unique resource ID
          example: 7826c3cb-d6fd-41d0-b187-dc23ba928772
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          description: Unique ID of the organisation this resource is created by
          example: ee2fb143-6dfe-4787-b183-ca8ddd4164d2
          format: uuid
          type: string
        relationships:
          properties:
            beneficiary_account:
              $ref: '#/components/schemas/RelationshipPaymentAdmissionBeneficiaryAccount'
            beneficiary_branch:
              $ref: '#/components/schemas/RelationshipPaymentAdmissionBeneficiaryBranch'
            payment:
              $ref: '#/components/schemas/RelationshipPayments'
            payment_admission_task:
              $ref: '#/components/schemas/RelationshipPaymentAdmissionTasks'
          type: object
        type:
          description: Name of the resource type
          example: payment_admissions
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          description: Version number
          example: 0
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      type: object
      x-access:
      - Public
    PaymentSubmissionFetchRelationships:
      properties:
        payment:
          $ref: '#/components/schemas/RelationshipLinks'
        payment_submission_task:
          $ref: '#/components/schemas/RelationshipPaymentSubmissionTasks'
        validations:
          $ref: '#/components/schemas/RelationshipLinks'
      type: object
      x-access:
      - Public
    ReturnPayment:
      properties:
        attributes:
          $ref: '#/components/schemas/ReturnPaymentAttributes'
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          description: Unique resource ID
          example: 7826c3cb-d6fd-41d0-b187-dc23ba928772
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          description: Unique ID of the organisation this resource is created by
          example: ee2fb143-6dfe-4787-b183-ca8ddd4164d2
          format: uuid
          type: string
        relationships:
          $ref: '#/components/schemas/ReturnPaymentRelationships'
        type:
          description: Name of the resource type
          example: returns
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          description: Version number
          example: 0
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      type: object
      x-access:
      - Public
    NewReversalSubmission:
      properties:
        id:
          description: Unique resource ID
          example: 7826c3cb-d6fd-41d0-b187-dc23ba928772
          format: uuid
          type: string
        organisation_id:
          description: Unique ID of the organisation this resource is created by
          example: ee2fb143-6dfe-4787-b183-ca8ddd4164d2
          format: uuid
          type: string
        type:
          description: Name of the resource type
          example: reversal_submissions
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          description: Version number
          example: 0
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      type: object
      x-access:
      - Public
    RecallCreation:
      properties:
        data:
          $ref: '#/components/schemas/NewRecall'
      type: object
      x-access:
      - Public
    RecallDecision:
      properties:
        attributes:
          $ref: '#/components/schemas/RecallDecisionAttributes'
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          description: Unique resource ID
          example: 7826c3cb-d6fd-41d0-b187-dc23ba928772
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          description: Unique ID of the organisation this resource is created by
          example: ee2fb143-6dfe-4787-b183-ca8ddd4164d2
          format: uuid
          type: string
        relationships:
          $ref: '#/components/schemas/RecallDecisionRelationships'
        type:
          description: Name of the resource type
          example: recall_decisions
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          description: Version number
          example: 0
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      type: object
      x-access:
      - Public
    ReversalSubmissionStatus:
      description: '[Status of the reversal submission](http://draft-api-docs.form3.tech/api.html#enumerations-reversal-submission-status)'
      enum:
      - accepted
      - validation_passed
      - released_to_gateway
      - queued_for_delivery
      - delivery_confirmed
      - delivery_failed
      - submitted
      - validation_pending
      example: accepted
      type: string
      x-access:
      - Public
    AgentRole:
      description: Role of the agent in the payment chain. Enum of pre-defined values, new values can be added when needed
      enum:
      - IntermediaryAgent1
      - IntermediaryAgent2
      - IntermediaryAgent3
      - InstructingAgent
      - InstructedAgent
      - AdditionalBeneficiaryPartyAgentInformation
      - CaseCreator
      example: IntermediaryAgent1
      type: string
      x-access:
      - Public
    PaymentSubmission:
      properties:
        attributes:
          properties:
            clearing_system:
              description: Clearing infrastructure through which the payment instruction was processed
              example: TIPS
              pattern: ^[0-9A-Za-z_]*$
              type: string
            file_identifier:
              description: Identification code of the file sent to scheme.
              example: '123456'
              pattern: ^[0-9a-zA-Z]+$
              type:
              - string
              - 'null'
            file_number:
              description: Number of the file sent to scheme.
              example: '001'
              pattern: ^[0-9]+$
              type:
              - string
              - 'null'
            limit_breach_end_datetime:
              description: Time a payment was released from being held due to a limit breach
              example: '2018-03-12T14:11:55.055Z'
              format: date-time
              type:
              - string
              - 'null'
            limit_breach_start_datetime:
              description: Start time a payment was held due to a limit breach
              example: '2018-03-12T14:11:50.055Z'
              format: date-time
              type:
              - string
              - 'null'
            posting_status:
              $ref: '#/components/schemas/PostingStatus'
            redirected_account_number:
              description: Details of the account to which funds are redirected (if applicable)
              example: '12345678'
              type: string
            redirected_bank_id:
              description: Details of the bank to which funds are redirected (if applicable)
              example: '400300'
              type: string
            reference_id:
              description: Additional payment reference assigned by the scheme
              type: string
            route:
              description: Route taken for an outbound payment
              enum:
              - on_us
              - xp
              type: string
            scheme_response_received_datetime:
              description: Date and time the final response to the outbound payment was received. Supports RFC3339 Nano
              example: '2017-09-26T15:26:57.123456789Z'
              format: date-time
              pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{1,9}Z$
              type:
              - string
              - 'null'
            scheme_sent_datetime:
              description: Date and time the outbound payment was sent, or queued for internal throttling. Supports RFC3339 Nano
              example: '2017-09-26T15:26:57.123456789Z'
              format: date-time
              pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{1,9}Z$
              type:
              - string
              - 'null'
            scheme_status_code:
              description: Scheme-specific status (if submission has been submitted to a scheme)
              example: '0000'
              type: string
            scheme_status_code_description:
              description: '[Description](http://api-docs.form3.tech/api.html#enumerations-scheme-status-codes-for-bacs) of `scheme_status_code`'
              example: Field 1 (destination sorting code) was invalid
              type: string
            settlement_cycle:
              description: Cycle in which the payment will be settled
              example: 1
              minimum: 0
              type: integer
            settlement_date:
              description: Date that the payment will be settled
              example: '2017-07-23'
              format: date
              type:
              - string
              - 'null'
            status:
              $ref: '#/components/schemas/PaymentSubmissionStatus'
            status_reason:
              description: Description of the submission status
              example: Accepted without qualification
              type: string
            submission_datetime:
              description: Date of the submission
              example: '2018-03-12T14:11:48.055Z'
              format: date-time
              readOnly: true
              type: string
            transaction_start_datetime:
              description: Time the request was received by Form3. Used to compute the total transaction time of a payment.
              example: '2018-03-12T14:11:49.055Z'
              format: date-time
              readOnly: true
              type: string
          type: object
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          description: Unique ID of the organisation this resource is created by
          example: ee2fb143-6dfe-4787-b183-ca8ddd4164d2
          format: uuid
          type: string
        relationships:
          $ref: '#/components/schemas/PaymentSubmissionRelationships'
        type:
          description: Name of the resource type
          example: payment_submissions
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          description: Version number
          example: 0
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      type: object
      x-access:
      - Public
    PaymentSubmissionCreation:
      properties:
        data:
          $ref: '#/components/schemas/NewPaymentSubmission'
      required:
      - data
      type: object
      x-access:
      - Public
    ReturnCreationResponse:
      properties:
        data:
          $ref: '#/components/schemas/ReturnPayment'
        links:
          $ref: '#/components/schemas/Links'
      type: object
      x-access:
      - Public
    PaymentSubmissionTaskRelationships:
      properties:
        payment:
          $ref: '#/components/schemas/RelationshipPayments'
        payment_submission:
          $ref: '#/components/schemas/RelationshipPaymentSubmissions'
      type: object
      x-access:
      - Public
    PostingStatus:
      description: Displays additional information about the latest response to a transaction, where multiple responses are allowed
      enum:
      - rejected
      - passed_without_posting
      - posted
      - blocked
      - pending
      - accepted_settlement_complete
      - received
      - accepted_funds_checked
      - accepted_settlement_complete_creditor_account
      - accepted_settlement_in_process
      type: string
      x-access:
      - Public
    RecallSubmission:
      properties:
        attributes:
          $ref: '#/components/schemas/RecallSubmissionAttributes'
        created_on:
          format: date-time
          type:
          - string
          - 'null'
        id:
          description: Unique resource ID
          example: 7826c3cb-d6fd-41d0-b187-dc23ba928772
          format: uuid
          type: string
        modified_on:
          format: date-time
          type:
          - string
          - 'null'
        organisation_id:
          description: Unique ID of the organisation this resource is created by
          example: ee2fb143-6dfe-4787-b183-ca8ddd4164d2
          format: uuid
          type: string
        relationships:
          $ref: '#/components/schemas/RecallSubmissionRelationships'
        type:
          description: Name of the resource type
          example: recall_submissions
          pattern: ^[A-Za-z_]*$
          type: string
        version:
          description: Version number
          example: 0
          minimum: 0
          type: integer
      required:
      - id
      - organisation_id
      type: object
      x-access:
      - Public
    ReturnCreation:
      properties:
        data:
          $ref: '#/components/schemas/ReturnPayment'
      type: object
      x-access:
      - Public
    AdviceCreationResponse:
      properties:
        data:
          $ref: '#/components/schemas/PaymentAdvice'
        links:
          $ref: '#/components/schemas/Links'
      type: object
      x-access:
      - Public
    RecallSubmissionStatus:
      description: '[Status](http://draft-api-docs.form3.tech/api.html#enumerations-payment-status-codes-payment-submission-status) of the submission'
      enum:
      - accepted
      - validation_pending
      - validation_passed
      - released_to_gateway
      - delivery_confirmed
      - delivery_failed
      - queued_for_delivery
      - submitted
      example: accepted
      type: string
      x-access:
      - Public
    ReversalSubmissionAttributes:
      properties:
        file_identifier:
          description: Identification code of the file sent to scheme.
          example: '123456'
          pattern: ^[0-9a-zA-Z]+$
          type:
          - string
          - 'null'
        file_number:
          description: Number of the file sent to scheme.
          example: '001'
          pattern: ^[0-9]+$
          type:
          - string
          - 'null'
        scheme_status_code:
          description: Scheme-specific status code, refer to scheme documentation
          example: E
          type: string
        scheme_status_code_description:
          description: Description of `scheme_status_code`
          example: Field 1 (destination sorting code) was invalid
          type: string
        status:
          $ref: '#/components/schemas/ReversalSubmissionStatus'
        status_reason:
          description: Description of the reversal submission status
          example: Accepted without qualification
          type: string
        submission_datetime:
          description: Date of the reversal submission
          example: '2018-05-09T10:49:13.470Z'
          format: date-time
          readOnly: true
          type: string
        transaction_start_datetime:
          description: Time the request was received by Form3. Used to compute the total transaction time of a payment.
          example: '2018-05-09T10:49:13.447Z'
          format: date-time
          readOnly: true
          type: string
      type: object
      x-access:
      - Public
    PaymentAdmissionBeneficiaryBranch:
      properties:
        attributes:
          properties:
            user_defined_data:
              description: All purpose list of key-value pairs specific data stored on the associated beneficiary branch.
              items:
                $ref: '#/components/schemas/UserDefinedData'
              maxItems: 5
              type: array
          type: object
        id:
          format: uuid
          type: string
        type:
          description: Name of the resource type
          example: branches
          pattern: ^[A-Za-z_]*$
          type: string
      type: object
      x-access:
      - Public
    BeneficiaryDebtorAccountProxy:
      properties:
        proxy:
          description: Name of the identification scheme, in a free text form. When used proxy_id_code must not be present
          example: ID123456
          maxLength: 35
          type:
          - string
          - 'null'
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-description:
            sepa: Name of the identification scheme, in a free text form. When used proxy_id_code must not be present
          x-omitempty: true
        proxy_id:
          description: Identification used to indicate the account identification under another specified name
          example: 07495845323
          maxLength: 2048
          type: string
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-description:
            sepa: Identification used to indicate the account identification under another specified name
        proxy_id_code:
          description: Name of the identification scheme, in a coded form as published in an external list. When used proxy field must not be present
          example: MBNO
          maxLength: 4
          type:
          - string
          - 'null'
          x-availability:
            get:
              sepa: sometimes
            post:
              sepa: optional
          x-description:
            sepa: Name of the identification scheme, in a coded form as published in an external list. When used proxy field must not be present
          x-omitempty: true
      type: object
      x-access:
      - Public
    ReturnSubmissionRelationships:
      properties:
        payment:
          $ref: '#/components/schemas/RelationshipPayments'
        payment_return:
          $ref: '#/components/schemas/RelationshipReturns'
        return_submission_task:
          $ref: '#/components/schemas/RelationshipReturnSubmissionTasks'
        validations:
          $ref: '#/components/schemas/RelationshipLinks'
      type: object
      x-access:
      - Public
    ReturnAdmissionTaskName:
      description: Identifies the return admission task to be executed
      example: return_validation
      type: string
      x-access:
      - Public
    PaymentAdmissionTaskName:
      description: Identifies the payment admission task to be executed
      example: account_check
      type: string
      x-access:
      - Public
    PaymentSubmissionTaskUpdate:
      properties:
        attributes:
          properties:
            name:
              $ref: '#/components/schemas/PaymentSubmissionTaskName'
            output:
              additionalProperties:
                type: object
              description: Key Value map that contains the Task result.
              example:
                outcome: passed
              type: object
            status:
              $ref: '#/components/schemas/PaymentSubmissionTaskStatus'
          type: object
        id:
          description: Unique resource ID
          example: 7826c3cb-d6fd-41d0-b187-dc23ba928772
          format: uuid
          type: string
        organisation_id:
          description: Unique ID of the organisation this resource is created by
          example: ee2fb143-6dfe-4787-b183-ca8ddd4164d2
          format: uuid
          type: string
        type:
          enum:
          - payment_submission_tasks
          type: string
        version:
          description: Version number
          example: 0
          minimum: 0
          type: integer
      type: object
      x-access:
      - Public
    RecallDecisionSubmissionCreation:
      properties:
        data:
          $ref: '#/components/schemas/NewRecallDecisionSubmission'
      type: object
      x-access:
      - Public
    PaymentAttributes:
      properties:
        agent_instructions:
          description: Block to represent further information related to the processing of payment instructions from one agent to another.
          items:
            $ref: '#/components/schemas/AgentInstruction'
          type: array
          x-omitempty: true
        agents:
          description: Block to represent a Financial Institution/agent in the payment chain
          items:
            $ref: '#/components/schemas/Agent'
          type: array
          x-omitempty: true
        amount:
          description: Amount of money moved between the instructing agent and instructed agent
          example: '10.00'
          pattern: ^[0-9]{0,20}(?:\.[0-9]{1,10})?$
          type: string
        batch_booking_indicator:
          type: string
        batch_id:
          type: string
        batch_type:
          type: string
        beneficiary_party:
          properties:
            account_name:
              description: Name of beneficiary as given with account
              example: James Bond
              type: string
            account_number:
              description: Beneficiary account number
              example: '71268996'
              type: string
              x-length: 34
            account_number_code:
              $ref: '#/components/schemas/AccountNumberCode'
            account_proxy:
              $ref: '#/components/schemas/BeneficiaryDebtorAccountProxy'
            account_type:
              description: The type of the account given with `beneficiary_party.account_number`. Single digit number. Only required if requested by the beneficiary party. Defaults to 0.
              example: 0
              type:
              - integer
              - 'null'
              x-omitempty: true
            account_type_code:
              description: ISO20022 four character account type code, or a proprietary equivalent
              example: SVGS
              type: string
            account_with:
              $ref: '#/components/schemas/BeneficiaryDebtorAccountHoldingEntity'
            additional_address_line:
              description: Additional address line of the beneficiary address
              type: string
              x-length: 70
            address:
              description: Beneficiary address
              example:
              - 1 Clarence Mew
              - Horsforth
              - Leeds Ls18 4EP
              items:
                type: string
              type: array
              x-omitempty: true
            birth_city:
              description: Beneficiary birth city
              example: PARIS
              type: string
              x-length: 35
            birth_country:
              description: Beneficiary birth country, ISO 3166 format country code
              example: FR
              type: string
              x-length: 2
            birth_date:
              description: 'Beneficiary birth date. Formatted according to ISO 8601 format: YYYY-MM-DD'
              example: '1977-02-28'
              format: date
              type:
              - string
              - 'null'
            birth_province:
              description: Beneficiary birth province
              example: NORTHSIDE
              type: string
              x-length: 35
            building_number:
              description: Building number of the beneficiary address
              type: string
              x-length: 16
            city:
              description: City/Town of the Beneficiary address
              example: BRUSSELS
              type: string
              x-length: 30
            country:
              description: Country of the beneficiary address, ISO 3166 format country code
              example: DE
              type: string
              x-length: 2
            country_of_residence:
              description: Country of residence of the beneficiary party, ISO 3166 format country code
              example: PL
              type: string
              x-length: 2
            name:
              description: Beneficiary name
              example: James Bond
              type: string
              x-length: 70
            organisation_identification:
              description: Organisation identification of a beneficiary, used in the case that the beneficiary is an organisation and not a private person
              example: ID1234656
              type: string
              x-length: 35
            organisation_identification_code:
              description: The code that specifies the type of `organisation_identification`
              example: BIC
              type: string
              x-length: 5
            organisation_identification_issuer:
              description: Issuer of the `organisation_identification`
              example: NATIONAL WESTMINSTER BANK PLC
              type: string
              x-length: 35
            organisation_identification_scheme:
              description: The code that specifies the scheme of `organisation_identification`
              example: CustomerId
              type: string
              x-length: 35
            organisation_identifications:
              description: Array for additional ID(s) of beneficiary organisation
              items:
[...]
